@font-face{
    src: url(fonts/SFPRODISPLAYREGULAR.OTF);
    font-family: SFPro;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    
    }

body {
    width: 1920px;
    height: 100%;
    position: relative;
    
}


.gradient{
    /* Layout Properties */
    top: 0px;
    left: 0px;
    width: 100%;
    height: 7810px;
    background-image: radial-gradient(farthest-corner circle at -9% 0%, #3B7EF8  0%, #3B76D445 53%, #3C6CA500 100%, transparent ), 
    radial-gradient(farthest-corner circle at 100% 0%, #05244d 0%, #071b3a 53%, #3b76d4 100%, transparent);
    opacity: 1;
    
}

.header{
    position: relative;
    /* Layout Properties */
    top: 50px;
    left: 207px;
    width: 1507px;
    height: 51px;
    /* UI Properties */
    opacity: 1;
    z-index: 1000;
}

.header-content{
    position: relative;
    /* Layout Properties */
    left: -20px;

}

#header-logo{
    /* Layout Properties */
    position: relative;
    top: 4px;
    left: 41px;
    width: 63px;
    height: 51px;
    opacity: 1;

    z-index: 1000;
}

.header-content a{
        /* UI Properties */
        position: relative;
        top: -10px;
        left: 264px;
        width: 691px;
        height: 40px;


        text-align: left;
        font-family: SFPro, Sans-serif;
        font-style: normal;
        font-size: 25px;

        letter-spacing: 0px;
        color: #F2F2F2;
        opacity: 1;

        padding-right: 89px;
        text-decoration: none;
}

#carrinho{

    position: relative;
    left: 402px;
    /* UI Properties */
    opacity: 1;
}

.loginBtn{
    /* Layout Properties */
    position: relative;
    top: -42.5px;
    left: 1450px;
    width: 110px;
    height: 38px;
    /* UI Properties */
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border-radius: 19px;
    opacity: 1;
}

.loginBtn a{
    left: 31px;
    top: 5px;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 20px;

    letter-spacing: 0px;
    color: #0C234D;
    opacity: 1;
}

.top-page{
    position: relative;
    top: -43px;
    left: 0px;
    width: 1920px;
    height: 1080px;
}

.top-page img{
    position: inherit;
    top: 74px;
    left: 0px;
    width: 1920px;
    height: 1031px;
}

#personagem{
    
    position: absolute;
    z-index: 10000;
    left: 1102px;
    height: 1104px;
    top: -7px;
    width: 818px;

}

@keyframes move-aviao {
    0% {
    transform: translate(0px,0px);
    }

    100%{
        transform: translate(-2000px,-120px);
    }
}

#aviao{
    width: 295px;
    height: 61px;
    left: 100px;
    top: -684px;
    left: 1600px;
    z-index: 0;
    
    animation: move-aviao 3s 1 ease-in;
    animation-fill-mode: forwards;
}

@keyframes shine {
    
    0%{
        filter:drop-shadow(17px 0px 10px #d5e2fb);
    }

    40%{
        filter:drop-shadow(17px 0px 20px #d5e2fb);
    }

    100%{
        filter:drop-shadow(17px 0px 10px #d5e2fb);
    }
}

#letreiro{
    position: relative;
    top: 734px;
    width: 246px;
    left: -263px;
    height: 1047px;
    z-index: 2;
    transform: rotate(-5deg);
    opacity: 1;

    animation: shine 1.5s infinite ease-in-out;
    

}


#paraquedas{
    position: inherit;

    top: -1631px;
    left: 1702px;
    width: 79px;
    height: 77px;
}

#boneco-rust{
    position: inherit;

    top: -839px;
    left: 976px;
    width: 673px;
    height: 835px;
}

#line-1{
    position: relative;
    top: -45px;


    width: 1920px;
    height: 41px;
    background: #A4C5F7 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    z-index: 1000;
}

#linha1{
    position: absolute;
    background-color: red;
    width: 229px;
    height: 5px;
    top: 500px;
    z-index: 100;
    display: none;
}

#linha2{
    position: absolute;
    height: 426px;
    width: 5px;
    left: 292px;
    top: 653px;
    background-color: red;
    z-index: 100;
    display: none;

}

.top-page-rust{
    position: inherit;
    top: -1766px;
    left: 224px;
    width: 752px;
    height: 427px;
    z-index: 1000;
}

.top-page-rust h1{
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 74px;
    text-align: left;
    font-weight: 900;
    color: #F2F2F2;
    opacity: 1;
    letter-spacing: -4px;
    word-spacing: -8px;
    line-height: 84px;
}

.top-page-rust p{
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 19px;
    text-align: left;
    color: #F2F2F2;
    opacity: 1;
    top: 15px;
    position: inherit;
    font-weight: bold;
    left: 4px;
}

.plans{

    position: relative;
    
    margin-left: auto;
    margin-right: auto;

    width: 1213px;
    height: 1635px;
}

.plans h1{
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 42px;
    text-align: center;
    font-weight: 800;
    color: #F2F2F2;
    opacity: 1;
    letter-spacing: -1px;
    word-spacing: -8px;
}

.plans p{
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 18.70px;
    text-align: center;
    color: #F2F2F2;
    opacity: 1;
    top: 23px;
    position: inherit;
    font-weight: normal;
    left: 4px;
}


.click{

    margin-left: auto;
    margin-right: auto;
    width: 511px;
    height: 58px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    border-radius: 29px;
    opacity: 1;
    top: 83px;
    position: inherit;
}

.click p{
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 17px;
    text-align: left;
    color: #1C376B;
    opacity: 1;
    position: inherit;
    font-weight: 800;
    left: 35px;
    top: 16px;

}

.click img{
    position: inherit;
    top: 16px;
    width: 34px;
    height: 18px;
    left: 395px;
    top: -4px;
}

.bloco-1{   


    position: inherit;
    top: 128px;

    width: 371px;
    height: 594px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 24px;
    opacity: 1;
}

.bloco-1 p{
    position: inherit;
    top: 50px;
    left: 35px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 19px;
    text-align: left;
    color: #262624;
    opacity: 1;
    font-weight: 800;
}

.bloco-1 h1{
    position: inherit;
    top: 65px;
    left: 35px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 41px;
    text-align: left;
    color: #034AA6;
    opacity: 1;
    font-weight: 800;
}

#p2{
    top: 85px;
}

.bloco-1 hr{
    position: inherit;
    top: 122px;
    left: 35px;
    width: 242px;
    height: 0px;
    /* UI Properties */
    border: 2px solid #D1D1D1;
    opacity: 1;
}

.infos-1{
    position: inherit;
}

.infos-1 p{
    line-height: 2;
    top: 165px;
    position: inherit;
    font-weight: normal;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 20px;
    text-align: left;
    color: #262624;
    opacity: 1;

}

.button-1{
    position: inherit;
    left: 35px;

    top: 190px;
    width: 162px;
    height: 43px;
    background: #034AA6 0% 0% no-repeat padding-box;
    border-radius: 14px;
    opacity: 1
}

.button-1 p{
    position: inherit;
    font-weight: 900; 
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 14px;
    text-align: left;
    color: #F2F2F2;
    opacity: 1;
    top: 12px;
    left: 14px;;
}

@keyframes opacity {
    
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.balao{
    position: absolute;
    display: none;
    top: -109px;
    left: -186px;
    animation: opacity 0.2s 1 ease-in;
    animation-fill-mode: forwards;
    
}

.bubble {
	height: 88px;
    width: 265px;
    /* min-width: 200px; */
    background: #0568A6;
    margin: 0 auto;
    border-radius: 7px;
    margin-top: 50px;
    font-size: 200px;
    text-align: center;
    z-index: 1000;
    position: relative;
    box-shadow: 4px 0px 3px 0px #000000;
}

#p-balao{
    top: 12px;
    font-size: 17px;
    color: #F2F2F2;
    font-weight: normal;
    left: 20px;
}

.pointer {
    height: 34px;
    width: 24px;
    background: #0568A6 ;
    margin: -22px auto 0px;
    transform: rotate(225deg);
    border-radius: 0 0 12px 0;
    margin-top: -22px;
    position: relative;
    left: 81px;
    top: 1px;
    z-index: 100;
    box-shadow: 2px 2px 4px #000000;
}

.bloco-1:hover > .balao{

    display: block;
}
.bloco-2{   


    position: inherit;
    top: -466px;
    left: 419px;
    
    width: 371px;
    height: 594px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 24px;
    opacity: 1;
}

.bloco-2 p{
    position: inherit;
    top: 50px;
    left: 35px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 19px;
    text-align: left;
    color: #262624;
    opacity: 1;
    font-weight: 800;
}

.bloco-2 h1{
    position: inherit;
    top: 65px;
    left: 35px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 41px;
    text-align: left;
    color: #034AA6;
    opacity: 1;
    font-weight: 800;
}

#p3{
    top: 85px;
}

.bloco-2 hr{
    position: inherit;
    top: 122px;
    left: 35px;
    width: 242px;
    height: 0px;
    /* UI Properties */
    border: 2px solid #D1D1D1;
    opacity: 1;
}

.infos-2{
    position: inherit;
}

.infos-2 p{
    line-height: 2;
    top: 165px;
    position: inherit;
    font-weight: normal;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 20px;
    text-align: left;
    color: #262624;
    opacity: 1;

}

.button-2{
    position: inherit;
    left: 35px;

    top: 190px;
    width: 162px;
    height: 43px;
    background: #034AA6 0% 0% no-repeat padding-box;
    border-radius: 14px;
    opacity: 1
}

.button-2 p{
    position: inherit;
    font-weight: 900; 
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 14px;
    text-align: left;
    color: #F2F2F2;
    opacity: 1;
    top: 12px;
    left: 14px;;
}

.bloco-3{   


    position: inherit;
    top: -1059px; 
    left: 842px;

    width: 371px;
    height: 594px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 24px;
    opacity: 1;
}

.bloco-2:hover > .balao{

    display: block;
}

.bloco-3 p{
    position: inherit;
    top: 50px;
    left: 35px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 19px;
    text-align: left;
    color: #262624;
    opacity: 1;
    font-weight: 800;
}

.bloco-3 h1{
    position: inherit;
    top: 65px;
    left: 35px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 41px;
    text-align: left;
    color: #034AA6;
    opacity: 1;
    font-weight: 800;
}

#p4{
    top: 85px;
}

.bloco-3 hr{
    position: inherit;
    top: 122px;
    left: 35px;
    width: 242px;
    height: 0px;
    /* UI Properties */
    border: 2px solid #D1D1D1;
    opacity: 1;
}

.infos-3{
    position: inherit;
}

.infos-3 p{
    line-height: 2;
    top: 165px;
    position: inherit;
    font-weight: normal;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 20px;
    text-align: left;
    color: #262624;
    opacity: 1;

}

.button-3{
    position: inherit;
    left: 35px;

    top: 190px;
    width: 162px;
    height: 43px;
    background: #034AA6 0% 0% no-repeat padding-box;
    border-radius: 14px;
    opacity: 1
}

.button-3 p{
    position: inherit;
    font-weight: 900; 
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 14px;
    text-align: left;
    color: #F2F2F2;
    opacity: 1;
    top: 12px;
    left: 14px;;
}

.bloco-3:hover > .balao{

    display: block;
}

.bloco-4{   


    position: inherit;
    top: -1010px;

    width: 371px;
    height: 594px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 24px;
    opacity: 1;
}

.bloco-4 p{
    position: inherit;
    top: 50px;
    left: 35px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 19px;
    text-align: left;
    color: #262624;
    opacity: 1;
    font-weight: 800;
}

.bloco-4 h1{
    position: inherit;
    top: 65px;
    left: 35px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 41px;
    text-align: left;
    color: #034AA6;
    opacity: 1;
    font-weight: 800;
}

#p5{
    top: 85px;
}

.bloco-4 hr{
    position: inherit;
    top: 122px;
    left: 35px;
    width: 242px;
    height: 0px;
    /* UI Properties */
    border: 2px solid #D1D1D1;
    opacity: 1;
}

.infos-4{
    position: inherit;
}

.infos-4 p{
    line-height: 2;
    top: 165px;
    position: inherit;
    font-weight: normal;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 20px;
    text-align: left;
    color: #262624;
    opacity: 1;

}

.button-4{
    position: inherit;
    left: 35px;

    top: 190px;
    width: 162px;
    height: 43px;
    background: #034AA6 0% 0% no-repeat padding-box;
    border-radius: 14px;
    opacity: 1
}

.button-4 p{
    position: inherit;
    font-weight: 900; 
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 14px;
    text-align: left;
    color: #F2F2F2;
    opacity: 1;
    top: 12px;
    left: 14px;;
}

.bloco-4:hover > .balao{

    display: block;
}

.bloco-5{   


    position: inherit;
    top: -1602px; 
    left: 419px;
    
    width: 371px;
    height: 594px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 24px;
    opacity: 1;
}

.bloco-5 p{
    position: inherit;
    top: 50px;
    left: 35px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 19px;
    text-align: left;
    color: #262624;
    opacity: 1;
    font-weight: 800;
}

.bloco-5 h1{
    position: inherit;
    top: 65px;
    left: 35px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 41px;
    text-align: left;
    color: #034AA6;
    opacity: 1;
    font-weight: 800;
}

#p6{
    top: 85px;
}

.bloco-5 hr{
    position: inherit;
    top: 122px;
    left: 35px;
    width: 242px;
    height: 0px;
    /* UI Properties */
    border: 2px solid #D1D1D1;
    opacity: 1;
}

.infos-5{
    position: inherit;
}

.infos-5 p{
    line-height: 2;
    top: 165px;
    position: inherit;
    font-weight: normal;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 20px;
    text-align: left;
    color: #262624;
    opacity: 1;

}

.button-5{
    position: inherit;
    left: 35px;

    top: 190px;
    width: 162px;
    height: 43px;
    background: #034AA6 0% 0% no-repeat padding-box;
    border-radius: 14px;
    opacity: 1
}

.button-5 p{
    position: inherit;
    font-weight: 900; 
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 14px;
    text-align: left;
    color: #F2F2F2;
    opacity: 1;
    top: 12px;
    left: 14px;;
}

.bloco-5:hover > .balao{

    display: block;
}

.bloco-6{   


    position: inherit;
    top: -2195px; 
    left: 842px;

    width: 371px;
    height: 594px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 24px;
    opacity: 1;
}

.bloco-6 p{
    position: inherit;
    top: 50px;
    left: 35px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 19px;
    text-align: left;
    color: #262624;
    opacity: 1;
    font-weight: 800;
}

.bloco-6 h1{
    position: inherit;
    top: 65px;
    left: 35px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 41px;
    text-align: left;
    color: #034AA6;
    opacity: 1;
    font-weight: 800;
}

#p7{
    top: 85px;
}

.bloco-6 hr{
    position: inherit;
    top: 122px;
    left: 35px;
    width: 242px;
    height: 0px;
    /* UI Properties */
    border: 2px solid #D1D1D1;
    opacity: 1;
}

.infos-6{
    position: inherit;
}

.infos-6 p{
    line-height: 2;
    top: 165px;
    position: inherit;
    font-weight: normal;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 20px;
    text-align: left;
    color: #262624;
    opacity: 1;

}

.button-6{
    position: inherit;
    left: 35px;

    top: 190px;
    width: 162px;
    height: 43px;
    background: #034AA6 0% 0% no-repeat padding-box;
    border-radius: 14px;
    opacity: 1
}

.button-6 p{
    position: inherit;
    font-weight: 900; 
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 14px;
    text-align: left;
    color: #F2F2F2;
    opacity: 1;
    top: 12px;
    left: 14px;;
}

.bloco-6:hover > .balao{

    display: block;
}

.additional-packs{
    margin-left: auto;
    margin-right: auto;
    position: inherit;

    top: -2100px;

    width: 556px;
    height: 58px;
    border: 1px solid #FFFFFF;
    border-radius: 29px;
    opacity: 1;
}

.additional-packs P{
    position: inherit;
    font-weight: 900;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 17px;
    text-align: left;
    color: #F2F2F2;
    opacity: 1;
    top: 16px;
    left: 36px;

}

.ranking{
    top: 100px;
    position: relative;
    
    margin-left: auto;
    margin-right: auto;

    width: 1225px;
    height: 472px;
}

.in-time{
    position: inherit;
    float: right;
    top: -35px;


    width: 722px;
    height: 472px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 21px 70px #00000029;
    border-radius: 21px;
    opacity: 1;
}

.ranking h1{
    position: inherit;

    top: 200px;

    text-align: left;

    font-weight: 900;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 38px;
    color: #F2F2F2;
    opacity: 1;

    word-spacing: -2px;

}

.ranking p{
    position: inherit;

    top: 220px;

    text-align: left;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #F2F2F2;
    opacity: 1;
}

.in-time h1{
    text-align: center;
    position: inherit;

    top: 40px;

    font-weight: 900;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 25px;
    color: #262624;
    opacity: 1;

    word-spacing: -2px;
}

.in-time p{
    position: absolute;
    float: left;
    top: 113px;

    font-weight: 500;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    color: #262624;
    opacity: 1;

    left: 50px;

}

.in-time img{
    position:absolute;
    top: 184px;
    left: 49px;
}

.barrinha-1{

    position: absolute;
    width: 0px;
    height: 48px;
    border: 2px solid #D8D8D8;
    opacity: 1;
    left: 409px;
    top: 173px;
}
.barrinha-2{
    position: absolute;
    width: 0px;
    height: 48px;
    border: 2px solid #D8D8D8;
    opacity: 1;
    left: 409px;
    top: 260px;
}

.barrinha-3{
    position: absolute;
    width: 0px;
    height: 48px;
    border: 2px solid #D8D8D8;
    opacity: 1;
    left: 409px;
    top: 348px;
}

.barrinha-4{
    position: absolute;
    width: 0px;
    height: 48px;
    border: 2px solid #D8D8D8;
    opacity: 1;
    left: 578px;
    top: 348px;
}

.barrinha-5{
    position: absolute;
    width: 0px;
    height: 48px;
    border: 2px solid #D8D8D8;
    opacity: 1;
    left: 578px;
    top: 260px;
}

.barrinha-6{
    position: absolute;
    width: 0px;
    height: 48px;
    border: 2px solid #D8D8D8;
    opacity: 1;
    left: 578px;
    top: 173px;
}

.balao1{
    position: absolute;
    display: none;
    top: 25px;
    left: 36px;
    animation: opacity 0.2s 1 ease-in;
    animation-fill-mode: forwards;
    
}

.balao2{
    position: absolute;
    display: none;
    top: 122px;
    left: -18px;;
    animation: opacity 0.2s 1 ease-in;
    animation-fill-mode: forwards;
    
}

.balao3{
    position: absolute;
    display: none;
    top: 198px;
    left: 16px;
    animation: opacity 0.2s 1 ease-in;
    animation-fill-mode: forwards;
    
}

#serv1{
    cursor: pointer;
}

#serv2{
    cursor: pointer;
}


#serv3{
    cursor: pointer;
}


#serv1:hover + .balao1{

    display: block;
    
}

#serv2:hover + .balao2{

    display: block;
}

#serv3:hover + .balao3{

    display: block;
}

.control-ddos{
    position: relative;
    width: 1307px;
    top: 270px;
    height: 395px;
    left: 317px;
}

.control-ddos h1{
    position: inherit;

    top: 200px;

    text-align: left;

    font-weight: 900;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 38px;
    color: #F2F2F2;
    opacity: 1;

    word-spacing: -2px;

}

.control-ddos p{
    position: inherit;

    top: 220px;

    text-align: left;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #F2F2F2;
    opacity: 1;
}

.control-ddos img{
    position: inherit;
    width: 570px;
    height: 395px;
    top: -91px;
    left: 700px;

    
}

@keyframes showCheck {
    
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

#notebook{
    position: absolute;
    top: 342px;
    left: 671px;
    width: auto;
    height: auto;
}

#check{
    position: absolute;
    top: 364px;
    left: 769px;
    width: auto;
    height: auto;
    display: none;

    animation: none;
    animation-fill-mode: forwards;
}

.control-ddos-2{
    position: relative;
    width: 1307px;
    top: 400px;
    height: 395px;
    left: 317px;

    transform: scaleY(-1);
    transform: scale(1, -1);
    transform: rotateX(180deg);
    transform: rotateY(180deg);
}

.control-ddos-2 h1{
    position: inherit;

    top: 200px;
    left: 28px;
    width: 379px;
    text-align: left;

    font-weight: 900;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 38px;
    color: #F2F2F2;
    opacity: 1;

    word-spacing: -2px;
    transform: rotateX(180deg);
    transform: rotateY(180deg);

}

.control-ddos-2 p{
    position: inherit;

    top: 220px;
    left: 28px;
    width: 379px;
    text-align: left;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #F2F2F2;
    opacity: 1;
    transform: rotateX(180deg);
    transform: rotateY(180deg);
}

.control-ddos-2 img{
    position: inherit;
    width: 570px;
    height: 395px;
    top: -91px;
    left: 755px;

    
}

@keyframes rotateEng {
    
    0%{
        opacity: 0;
        rotate: 360deg;
    }

    100%{
        opacity: 1;
        opacity: 360deg;
    }
}

#notebook2{
    position: absolute;
    width: 167px;
    height: 132px;
    top: 217px;
    left: 962px;
}

#engrenagem{
    position: absolute;
    width: auto;
    height: auto;
    top: 257px;
    left: 1028px;

    display: none;

    animation: none;
    animation-fill-mode: forwards;


}

.infos{

    position: relative;
    top: 667px;
    left: 167px;

    width: 1541px;
    height: 841px;

    border: 3px solid #FFFFFF;
    border-radius: 35px;
    opacity: 1;
}

.info-content{
    position: absolute;
    left: 460px;
    top: -1px;
    height: 836px;
    width: 1076px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 0px 30px 30px 0px;
    opacity: 1;
    z-index: 50;
    display: flex;
    
}
.info-content img{
    position: inherit;
    margin-left: 25%;
    margin-top: 5%;
}

#img-retangulo1{
    display: block;
}

#img-retangulo2{
    display: none;
}

#img-retangulo3{
    display: none;
}

#img-retangulo4{
    display: none;
}

#h1-retangulo1{
    display: block;
}

#h1-retangulo2{
    display: none;
}
#h1-retangulo3{
    display: none;
}
#h1-retangulo4{
    display: none;
}

#p-retangulo1{
    display: block;
}

#p-retangulo2{
    display: none;
}

#p-retangulo3{
    display: none;
}

#p-retangulo4{
    display: none;
}

.info-content h1{
    position: inherit;
    font-size: 29px;
    font-family: SFPro, Sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    top: 615px;
    left: 265px;
}

.info-content p{
    position: inherit;
    font-family: SFPro, Sans-serif;
    font-size: 17px;
    top: 663px;
    left: 265px;
    width: 691px;
    
}

.retangulo1{

    position: relative;
    width: 500px;
    height: 180px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 27px;
    opacity: 1;
    left: 20px;
    top: 25px;
    box-shadow: 27px -2px 99px #00000029;
    z-index: 10;
    cursor: pointer;

}

.retangulo1 h1{
    font-size: 24px;
    font-family: SFPro, Sans-serif;
    font-weight: 800;
    letter-spacing: -1px;
    top: 20px;
    position: relative;
    left: 40px;

}

.retangulo1 hr{
    width: 369px;
    height: 0px;
    border: 3px solid #30549F;
    opacity: 1;
    position: inherit;
    left: 40px;
    top: 30px;
}

.retangulo1 p{
    width: 418px;
    height: 63px;
    position: inherit;
    left: 40px;
    top: 41px;
    font-family: SFPro, Sans-serif;
    font-size: 14px;
}

.retangulo2{

    position: relative;
    width: 500px;
    height: 180px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 27px;
    opacity: 1;
    left: 20px;
    top: 46px;
    box-shadow: 27px -2px 99px #00000029;
    z-index: 100;
    cursor: pointer;

}

.retangulo2 h1{
    font-size: 24px;
    font-family: SFPro, Sans-serif;
    font-weight: 800;
    letter-spacing: -1px;
    top: 20px;
    position: relative;
    left: 40px;

}

.retangulo2 hr{
    width: 369px;
    height: 0px;
    border: 3px solid #30549F;
    opacity: 1;
    position: inherit;
    left: 40px;
    top: 30px;
}

.retangulo2 p{
    width: 418px;
    height: 63px;
    position: inherit;
    left: 40px;
    top: 41px;
    font-family: SFPro, Sans-serif;
    font-size: 14px;
}

.retangulo3{

    position: relative;
    width: 500px;
    height: 180px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 27px;
    opacity: 1;
    left: 20px;
    top: 67px;
    box-shadow: 27px -2px 99px #00000029;
    z-index: 100;
    cursor: pointer;
}

.retangulo3 h1{
    font-size: 24px;
    font-family: SFPro, Sans-serif;
    font-weight: 800;
    letter-spacing: -1px;
    top: 20px;
    position: relative;
    left: 40px;

}

.retangulo3 hr{
    width: 369px;
    height: 0px;
    border: 3px solid #30549F;
    opacity: 1;
    position: inherit;
    left: 40px;
    top: 30px;
}

.retangulo3 p{
    width: 418px;
    height: 63px;
    position: inherit;
    left: 40px;
    top: 41px;
    font-family: SFPro, Sans-serif;
    font-size: 14px;
}

.retangulo4{

    position: relative;
    width: 500px;
    height: 180px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 27px;
    opacity: 1;
    left: 20px;
    top: 89px;
    box-shadow: 27px -2px 99px #00000029;
    z-index: 100;
    cursor: pointer;
}

.retangulo4 h1{
    font-size: 24px;
    font-family: SFPro, Sans-serif;
    font-weight: 800;
    letter-spacing: -1px;
    top: 20px;
    position: relative;
    left: 40px;

}

.retangulo4 hr{
    width: 369px;
    height: 0px;
    border: 3px solid #30549F;
    opacity: 1;
    position: inherit;
    left: 40px;
    top: 30px;
}

.retangulo4 p{
    width: 418px;
    height: 63px;
    position: inherit;
    left: 40px;
    top: 41px;
    font-family: SFPro, Sans-serif;
    font-size: 14px;
}

#see-infra{
    position: inherit;
    left: 600px;
    top: 186px;

    text-align: center;

    width: 403px;
    height: 58px;
    /* UI Properties */
    border: 1px solid #FFFFFF;
    border-radius: 29px;
    opacity: 1;

    
}

#see-infra a{
    position: inherit;
    text-decoration: none;
}

#see-infra a strong{
    position: inherit;
}

#see-infra a strong p{
    position: inherit;
    left: -20px;
    top: 16px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 21px;

    color: #FFFFFF;
    opacity: 1;
}

#see-infra a img{
    position: inherit;
    top: -5px;
    left: 164px;
}

#hr-1{
    position: relative;
    top: 900px;
    height: 30px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 11px 52px #00000029;
    opacity: 1;

    z-index: 1000;
}

.faixa{
    position: relative;
    top: 900px;
    left: 1249px;


    width: 450px;
    height: 1018px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 0px 0px 33px 33px;
    opacity: 1;
    }

.faixa strong{
    position: inherit;
}

.faixa strong h1{
    position: inherit;
    width: 113px;
    height: 106px;
    top: 310px;
    left: 91px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 80px;

    text-align: left;

    color: #262624;
    opacity: 1;
}

.faixa img{
    position: inherit;

    top: 301px;
    left: 91px;
}

.faixa p{
    position: inherit;
    left: 91px;
    top: 309px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 18px;

    text-align: left;

    color: #262624;
    opacity: 1;
}

.faixa hr{
    position: inherit;
    left: 91px;
    top: 341px;

    width: 272px;
    height: 0px;
    /* UI Properties */
    border: 2px solid #D1D1D1;
    opacity: 1;
}

.contact-suport{
    position: inherit;
    width: 309px;
    height: 86px;
    left: 71px;
    top: 408px;


    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #C1C1C1;
    border-radius: 17px;
    opacity: 1;

    cursor: pointer;
}

.contact-suport a{
    position: inherit;
    text-decoration: none;
}

.contact-suport a p{
    top: -28px;
    left: 107px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 15px;

    text-align: left;

    color: #0C234D;
    opacity: 1;
}

.contact-suport img{
    top: 18px;
    left: 48px;
}

.depoiments-1{
    position: relative;
    top: 70px;
    left: 125px;

    width: 985px;
    height: 201px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;

    margin-bottom: 32px;
}

.depoiments-1 img{
    position: inherit;
    width: 155px;
    height: 155px;
    top: 25px;
    left: 46px;


    border: 3px solid #1A3568;
    border-radius: 50%;
    opacity: 1;
}

.depoiments-1 strong{
    position: inherit;
}

.depoiments-1 h4{
    position: inherit;
    left: 231px;
    top: -115px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 31px;

    text-align: left;

    color: #262624;
    opacity: 1;
}

.depoiments-1 p{
    position: inherit;
    left: 231px;
    top: -105px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 18px;

    text-align: left;

    color: #262624;
    opacity: 1;
}

.estrelinhas-1{

    position: inherit;
}

.estrelinhas-1 img{
    position: inherit;
    left: 231px;
    top: -94px;

    width: 20px;
    height: 19px;
    border: 0;
    border-radius: 0;
}

.depoiments-2{
    position: relative;
    top: 80px;
    left: 125px;

    width: 985px;
    height: 201px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;

    margin-bottom: 32px;
}

.depoiments-2 img{
    position: inherit;
    width: 155px;
    height: 155px;
    top: 25px;
    left: 46px;


    border: 3px solid #1A3568;
    border-radius: 50%;
    opacity: 1;
}

.depoiments-2 strong{
    position: inherit;
}

.depoiments-2 h4{
    position: inherit;
    left: 231px;
    top: -115px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 31px;

    text-align: left;

    color: #262624;
    opacity: 1;
}

.depoiments-2 p{
    position: inherit;
    left: 231px;
    top: -105px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 18px;

    text-align: left;

    color: #262624;
    opacity: 1;
}

.estrelinhas-2{

    position: inherit;
}

.estrelinhas-2 img{
    position: inherit;
    left: 231px;
    top: -94px;

    width: 20px;
    height: 19px;
    border: 0;
    border-radius: 0;
}

.depoiments-3{
    position: relative;
    top: 90px;
    left: 125px;

    width: 985px;
    height: 201px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;

    margin-bottom: 32px;
}

.depoiments-3 img{
    position: inherit;
    width: 155px;
    height: 155px;
    top: 25px;
    left: 46px;


    border: 3px solid #1A3568;
    border-radius: 50%;
    opacity: 1;
}

.depoiments-3 strong{
    position: inherit;
}

.depoiments-3 h4{
    position: inherit;
    left: 231px;
    top: -115px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 31px;

    text-align: left;

    color: #262624;
    opacity: 1;
}

.depoiments-3 p{
    position: inherit;
    left: 231px;
    top: -105px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 18px;

    text-align: left;

    color: #262624;
    opacity: 1;
}

.estrelinhas-3{

    position: inherit;
}

.estrelinhas-3 img{
    position: inherit;
    left: 231px;
    top: -94px;

    width: 20px;
    height: 19px;
    border: 0;
    border-radius: 0;
}

.discord{
    position: relative;
    width: 1246px;
    height: 175px;
    top: 400px;
    left: 258px;
}

.discord h1{
    font-weight: 900;
    font-family: SFPro, sans-serif;
    font-style: normal;
    font-size: 55px;
    text-align: left;
    color: rgb(242, 242, 242);
    opacity: 1;
    line-height: 71px;
}

.member{
    position: inherit;
    width: 314px;
    height: 60px;
    left: 1044px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 41px;
    opacity: 1;
    top: -100px;
}

.member h1{
    position: inherit;
    font-weight: 900;
    font-family: SFPro, sans-serif;
    font-style: normal;
    font-size: 20px;
    left: 24px;
    top: -5px;
    text-align: left;
    color: #3358A7;
    opacity: 1;
    line-height: 71px;
}

.footer{
    background: #193463;
    width: 100%;
    height: 442px;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.services{
    position: inherit;
}

.services h1{
    position: inherit;
    left: 200px;
    top: 75px;

    text-align: left;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 28px;
    
    font-weight: bold;
    letter-spacing: -1px;

    color: #F2F2F2;
    opacity: 1;
}

.services p{
    position: inherit;
    
    left: 200px;
    top: 121px;
    width: 248px;


    text-align: left;
    line-height: 38px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 23px;
    
    letter-spacing: -1px;

    color: #F2F2F2;
    opacity: 1;
}

.services-1{
    position: inherit;
    left: 403px;
}

.services-1 h1{
    position: inherit;
    left: 200px;
    top: 75px;

    text-align: left;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 28px;
    
    font-weight: bold;
    letter-spacing: -1px;

    color: #F2F2F2;
    opacity: 1;
}

.services-1 p{
    position: inherit;
    
    left: 200px;
    top: 121px;
    width: 248px;


    text-align: left;
    line-height: 38px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 23px;
    
    letter-spacing: -1px;

    color: #F2F2F2;
    opacity: 1;
}

.services-2{
    position: inherit;
    left: 803px;
}

.services-2 h1{
    position: inherit;
    left: 200px;
    top: 75px;

    text-align: left;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 28px;
    
    font-weight: bold;
    letter-spacing: -1px;

    color: #F2F2F2;
    opacity: 1;
}

.services-2 p{
    position: inherit;
    
    left: 200px;
    top: 121px;
    width: 248px;


    text-align: left;
    line-height: 38px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 23px;
    
    letter-spacing: -1px;

    color: #F2F2F2;
    opacity: 1;
}

.footer img{
    position: inherit;
    top: 82px;
    left: 1617px;
    z-index: 1000;
    
}

.footer-2{
    background: #2F4678;
    width: 100%;
    height: 95px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-2 img{
    position: inherit;
    left: 203px;
    top: 31px;
}

.footer-2 p{
    position: inherit;
    left: 280px;
    top: 39px;

    text-align: left;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 22px;
    
    letter-spacing: -1px;

    color: #F2F2F2;
    opacity: 1;
}

