@font-face{
    src: url(fonts/SFPRODISPLAYREGULAR.OTF);
    font-family: SFPro;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    }

body {
    width: 100%;
    height: 100%;
    position: relative;
}

.line-left {
    width: 1px;
    background-color: #00DFF2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 60px;
    z-index: 1;
    pointer-events: none;

    display: none;
}

.line-right {
    width: 1px;
    background-color: #00DFF2;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 60px;
    z-index: 1;

    display: none;
}

.gradient{
    /* Layout Properties */
    top: 0px;
    left: 0px;
    width: 100%;
    height: 8000px;
    background-image: radial-gradient(farthest-corner circle at -9% 0%, #3B7EF8  0%, #3B76D445 53%, #3C6CA500 100%, transparent ), 
    radial-gradient(farthest-corner circle at 100% 0%, #05244d 0%, #071b3a 53%, #3b76d4 100%, transparent);
    opacity: 1;
    
}

.header{
    position: relative;
    /* Layout Properties */
    top: 50px;
    left: 207px;
    width: 1507px;
    height: 51px;
    /* UI Properties */
    opacity: 1;
}

.header-content{
    position: relative;
    /* Layout Properties */
    left: -20px;

}

#header-logo{
    /* Layout Properties */
    position: relative;
    top: 4px;
    left: 41px;
    width: 63px;
    height: 51px;
    opacity: 1;
}

.header-content a{
        /* UI Properties */
        position: relative;
        top: -10px;
        left: 264px;
        width: 691px;
        height: 40px;


        text-align: left;
        font-family: SFPro, Sans-serif;
        font-style: normal;
        font-size: 25px;

        letter-spacing: 0px;
        color: #F2F2F2;
        opacity: 1;

        padding-right: 89px;
        text-decoration: none;
}

#carrinho{

    position: relative;
    left: 402px;
    /* UI Properties */
    opacity: 1;
}

.loginBtn{
    /* Layout Properties */
    position: relative;
    top: -42.5px;
    left: 1450px;
    width: 110px;
    height: 38px;
    /* UI Properties */
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border-radius: 19px;
    opacity: 1;
}

.loginBtn a{
    left: 31px;
    top: 5px;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 20px;

    letter-spacing: 0px;
    color: #0C234D;
    opacity: 1;
}

#nuvem-1{
    position: relative;
    top: 116px;
    left: -101px;
    width: 291px;
    height: 114px;
    z-index: 1000;
}

.top-page{
    position: relative;
    /* Layout Properties */
    top: 128px;
    left: 250px;
    width: 554px;
    height: 266px;
}

.top-page h1{
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 65px;

    text-align: left;
    letter-spacing: 0px;
    color: #F2F2F2;
    opacity: 1;
}

.top-page p{
    position: relative;
    top: 20px;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 25px;

    text-align: left;
    letter-spacing: 0px;
    color: #F2F2F2;
    opacity: 1;

    margin-inline-end: -11em;
}

#servidor{
    position: relative;
    /* Layout Properties */
    top: -185px;
    left: 1150px;
    width: 611px;
    height: 577px;
}

.show-plans{

    position: relative;

    /* Layout Properties */
    top: -335px;
    left: 230px;
    width: 352px;
    height: 138px;
}

.show-btn{
    position: relative;
    top: -121px;
    left: 17px;
    width: 320px;
    height: 60px;
    background: 0% 0% no-repeat padding-box padding-box #FFFFFF;
    border-radius: 41px;
    opacity: 1;
}

.show-btn a{
    position: relative;
    left: 27px;
    width: 161px;
    height: 37px;
    top: 16px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 25px;
    
    
    text-align: left;
    letter-spacing: 0px;
    color: #3358A7;
    opacity: 1;
    text-decoration: none;
}

.show-btn img{
    position: relative;
    left: 111px;
    top: 13px;
}

.dedicated-servers{
    position:  relative;
    /* Layout Properties */
    top: -170px;
    left: 114px;
    width: 510px;
    height: 555px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 34px;
    opacity: 1;
}

.dedicated-servers img{
    position: inherit;
    left: 3px;
    top: -31px;
}

#rectangle-1{
    position: inherit;
    background: #034AA6 0% 0% no-repeat padding-box;
    /* border: 1px solid #707070; */
    height: 11px;
    top: -37px;
    width: 329px;
    left: 34px;
}

.dedicated-servers p{
    left: 30px;
    top: -13px;

    position: inherit;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 40px;
    
    
    text-align: left;
    letter-spacing: 0px;
    color: #262624;
    opacity: 1;
}

#p-2{
    left: 30px;
    top: 1px;

    position: inherit;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 21px;
    
    
    text-align: left;
    letter-spacing: 0px;
    color: #262624;
    opacity: 1;

    margin-inline-end: 81px;
}

#dedicatedBtn{
    position: inherit;
    left: 30px;
    top: 10px;
    height: 43px;
    width: 272px;

    /* UI Properties */
    border: 1px solid #1E49A0;
    border-radius: 22px;
    opacity: 1;
}

#dedicatedBtn a{
    position: inherit;
    top: 10px;
    left: 13px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 21px;
    
    
    text-align: left;
    letter-spacing: 0px;
    color: #3358A7;
    opacity: 1;
    text-decoration: none;
}

#dedicatedBtn img{
    position: inherit;
    top: 10px;
    left: 98px;
}

.game-servers{
    position:  relative;
    /* Layout Properties */
    top: -726px;
    left: 690px;
    width: 510px;
    height: 555px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 34px;
    opacity: 1;
}

.game-servers img{
    position: inherit;
    left: -40px;
    top: -27px;
}

#rectangle-2{
    position: inherit;
    background: #034AA6 0% 0% no-repeat padding-box;
    /* border: 1px solid #707070; */
    height: 11px;
    top: -34px;
    width: 329px;
    left: 34px;
}

.game-servers p{
    left: 30px;
    top: -13px;

    position: inherit;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 40px;
    
    
    text-align: left;
    letter-spacing: 0px;
    color: #262624;
    opacity: 1;
    margin-inline-end: 200px
}

#p-3{
    left: 30px;
    top: 1px;

    position: inherit;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 21px;
    
    
    text-align: left;
    letter-spacing: 0px;
    color: #262624;
    opacity: 1;

    margin-inline-end: 81px;
}

#dedicatedBtn-2{
    position: inherit;
    left: 30px;
    top: 10px;
    height: 43px;
    width: 272px;

    /* UI Properties */
    border: 1px solid #1E49A0;
    border-radius: 22px;
    opacity: 1;
}

#dedicatedBtn-2 a{
    position: inherit;
    top: 10px;
    left: 13px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 21px;
    
    
    text-align: left;
    letter-spacing: 0px;
    color: #3358A7;
    opacity: 1;
    text-decoration: none;
}

#dedicatedBtn-2 img{
    position: inherit;
    top: 10px;
    left: 98px;
}

.vps-servers{
    position:  relative;
    /* Layout Properties */
    top: -1279px;
    left: 1266px;
    width: 510px;
    height: 555px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 34px;
    opacity: 1;
}

.vps-servers img{
    position: inherit;
    left: 34px;
    top: -75px;
}

#rectangle-3{
    position: inherit;
    background: #034AA6 0% 0% no-repeat padding-box;
    /* border: 1px solid #707070; */
    height: 11px;
    top: -82px;
    width: 329px;
    left: 34px;
}

.vps-servers p{
    left: 30px;
    top: -61px;

    position: inherit;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 40px;
    
    
    text-align: left;
    letter-spacing: 0px;
    color: #262624;
    opacity: 1;
    margin-inline-end: 200px
}

#p-4{
    left: 30px;
    top: -43px;

    position: inherit;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 21px;
    
    
    text-align: left;
    letter-spacing: 0px;
    color: #262624;
    opacity: 1;

    margin-inline-end: 81px;
}

#dedicatedBtn-3{
    position: inherit;
    left: 30px;
    top: -33px;
    height: 43px;
    width: 272px;

    /* UI Properties */
    border: 1px solid #1E49A0;
    border-radius: 22px;
    opacity: 1;
}

#dedicatedBtn-3 a{
    position: inherit;
    top: 10px;
    left: 13px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 21px;
    
    
    text-align: left;
    letter-spacing: 0px;
    color: #3358A7;
    opacity: 1;
    text-decoration: none;
}

#dedicatedBtn-3 img{
    position: inherit;
    top: 10px;
    left: 98px;
}

.locations{
    position: relative;
    top: -1274px;
    left: 171px;

    width: 0;
    height: 552px;

}

.locations h1{
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 50px;
    left: 5px;
    top: 107px;
    position: inherit;


    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-inline-end: 1510px;
    line-height: 67px;
    
}

.locations p{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    top: 130px;
    left: 9px;
    position: inherit;
    text-align: left;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 21.5px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    width: 411px;
    word-break: break-all;

}

.coutry-1{

    position: inherit;

    top: -91px;
    width: 680px;
    height: 104px;
    left: 847px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 12px;
    opacity: 1;
}

.coutry-1 img{
    position: inherit;
    top: 11px;
    left: 28px;
}

#line-1{
    position: inherit;
    width: 484px;
    left: 196px;
    height: 104px;
    top: -87px;


    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 14px;
    opacity: 1;
}
#line-1 strong{
    position: inherit;
}

#line-1 strong h3{
    top: 16px;
    left: 31px;
    
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 34px;
    position: inherit;


    text-align: left;
    letter-spacing: 0px;
    color: #262624;
    opacity: 1;
}

#line-1 p{
    position: inherit;
    top: 18px;
    left: 31px;
    

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 22px;

    text-align: left;
    letter-spacing: 0px;
    color: #262624;
    opacity: 1;
}


.coutry-2{
    position: inherit;

    top: -54px;
    width: 680px;
    height: 104px;
    left: 847px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 12px;
    opacity: 1;
}

.coutry-2 img{
    position: inherit;
    top: 11px;
    left: 28px;
}

#line-2{
    position: inherit;
    width: 484px;
    left: 196px;
    height: 104px;
    top: -87px;

    
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 14px;
    opacity: 1;
}

#line-2 strong{
    position: inherit;
}

#line-2 strong h3{
    top: 16px;
    left: 31px;
    
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 34px;
    position: inherit;


    text-align: left;
    letter-spacing: 0px;
    color: #262624;
    opacity: 1;
}

#line-2 p{
    position: inherit;
    top: 18px;
    left: 31px;
    

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 22px;

    text-align: left;
    letter-spacing: 0px;
    color: #262624;
    opacity: 1;
}

.processor{
    position: relative;
    top: -1421px;
    left: 171px;

    width: 0;
    height: 552px;

}

.processor h1{
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 50px;
    left: 5px;
    top: 107px;
    position: inherit;


    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-inline-end: -363px;
    line-height: 67px;
    
}

.processor p{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    top: 130px;
    left: 9px;
    position: inherit;
    width: 411px;

    text-align: left;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 21.5px;

    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;

    
    word-break: break-all;

}

.block-1{
    position: inherit;

    width: 364px;
    height: 119px;
    left: 9px;
    top: 158px;

    /* UI Properties */
    border: 3px solid #FFFFFF;
    border-radius: 32px;
    opacity: 1
}

.block-1 img{
    position: inherit;

    width: 77px;
    height: 77px;
    left: 33px;
    top: 17px;
}

.block-1 strong{
    position: inherit;
}

.block-1 strong h3{

    position: inherit;
    top: -65px;
    left: 129px;

    text-align: left;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 20px;


    letter-spacing: -1px;
    color: #FFFFFF;
    opacity: 1;
}

.block-1 p{
    position: inherit;
    top: -57px;
    left: 129px;
    

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 15px;

    color: #FFFFFF;
    opacity: 1;
}

.block-2{
    position: inherit;
    
    width: 364px;
    height: 119px;
    left: 9px;
    top: 187px;

    /* UI Properties */
    border: 3px solid #FFFFFF;
    border-radius: 32px;
    opacity: 1
}

.block-2 img{
    position: inherit;
    
    width: 77px;
    height: 77px;
    left: 33px;
    top: 17px;
}

.block-2 strong{
    position: inherit;
}

.block-2 strong h3{

    position: inherit;
    top: -65px;
    left: 129px;

    text-align: left;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 20px;


    letter-spacing: -1px;
    color: #FFFFFF;
    opacity: 1;
}

.block-2 p{
    position: inherit;
    top: -57px;
    left: 129px;
    

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 15px;

    color: #FFFFFF;
    opacity: 1;
}

.velocimeter{

    position: inherit;

    top: -100px;
    width: 680px;
    height: 104px;
    left: 847px;
}

.velocimeter img{
    position: inherit;
    top: -193px;
    left: -89px;

    width: 766px;
    height: 424px;

}

.infos{

    position: relative;
    top: -1153px;
    left: 167px;

    width: 1541px;
    height: 841px;

    border: 3px solid #FFFFFF;
    border-radius: 35px;
    opacity: 1;
}

.info-content{
    position: inherit;
    left: 460px;
    top: -1px;
    height: 836px;
    width: 1076px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 0px 30px 30px 0px;
    opacity: 1;
    
}

#see-infra{
    position: inherit;
    left: 600px;
    top: 88px;

    text-align: center;

    width: 403px;
    height: 58px;
    /* UI Properties */
    border: 1px solid #FFFFFF;
    border-radius: 29px;
    opacity: 1;

    
}

#see-infra a{
    position: inherit;
    text-decoration: none;
}

#see-infra a strong{
    position: inherit;
}

#see-infra a strong p{
    position: inherit;
    left: -20px;
    top: 16px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 21px;

    color: #FFFFFF;
    opacity: 1;
}

#see-infra a img{
    position: inherit;
    top: -5px;
    left: 164px;
}

.garantias{
    position: relative;
    top: -891px;
    left: 183px;
    height: 1000px;
    width: 1541px;


}

.garantias strong{
    position: inherit;
}

.garantias strong h1{
    position: inherit;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 40px;

    text-align: center;

    color: #FFFFFF;
    opacity: 1;
}

.garantias p{
    position: inherit;
    top: 16px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 20px;

    text-align: center;

    color: #FFFFFF;
    opacity: 1;

    word-break: break-all;
}

.high-perfomance{
    position: inherit;
    top: 68px;

    width: 766px;
    height: 276px;
    
    /* UI Properties */
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    opacity: 1;
}

.high-perfomance strong{
    position: inherit;
}

.high-perfomance strong h2{
    position: inherit;
    top: 50px;
    left: 21px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 48px;

    text-align: left;

    color: #F2F2F2;
    opacity: 1;
}

.high-perfomance p{
    position: inherit;
    left: 21px;
    top: 63px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 17px;

    text-align: left;

    color: #F2F2F2;
    opacity: 1;
}

.custom-plans{
    position: inherit;
    top: -522px;
    left: 820px;

    width: 702px;
    height: 276px;
    /* UI Properties */
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    opacity: 1;
}

.custom-plans strong{
    position: inherit;
}

.custom-plans strong h2{
    position: inherit;
    top: 50px;
    left: 21px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 48px;

    text-align: left;

    color: #F2F2F2;
    opacity: 1;
}

.custom-plans p{
    position: inherit;
    left: 21px;
    top: 63px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 17px;

    text-align: left;

    color: #F2F2F2;
    opacity: 1;
}

.uptime{
    position: inherit;
    top: 100px;

    width: 341px;
    height: 314px;
    /* UI Properties */
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    opacity: 1;
}

.uptime strong{
    position: inherit;
}

.uptime strong h2{
    position: inherit;
    top: 50px;
    left: 21px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 48px;

    text-align: left;

    color: #F2F2F2;
    opacity: 1;
}

.uptime p{
    position: inherit;
    left: 21px;
    top: 63px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 17px;

    text-align: left;

    color: #F2F2F2;
    opacity: 1;
}

.suport{
    position: inherit;
    top: -490px;
    left: 390px;

    width: 591px;
    height: 314px;

    /* UI Properties */
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    opacity: 1;
}

.suport strong{
    position: inherit;
}

.suport strong h2{
    position: inherit;
    top: 50px;
    left: 21px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 48px;

    text-align: left;

    color: #F2F2F2;
    opacity: 1;
}

.suport p{
    position: inherit;
    left: 21px;
    top: 63px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 17px;

    text-align: left;

    color: #F2F2F2;
    opacity: 1;
}

.hdd{
    position: inherit;
    top: -804px;
    left: 1037px;

    width: 482px;
    height: 314px;

    /* UI Properties */
    border: 2px solid #FFFFFF;
    border-radius: 25px;
    opacity: 1;
}

.hdd strong{
    position: inherit;
}

.hdd strong h2{
    position: inherit;
    top: 50px;
    left: 21px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 48px;

    text-align: left;

    color: #F2F2F2;
    opacity: 1;
}

.hdd p{
    position: inherit;
    left: 21px;
    top: 63px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 17px;

    text-align: left;

    color: #F2F2F2;
    opacity: 1;
}

#hr-1{
    position: relative;
    top: -989px;
    height: 30px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 11px 52px #00000029;
    opacity: 1;

    z-index: 1000;
}

.faixa{
    position: relative;
    top: -1000px;
    left: 1249px;


    width: 450px;
    height: 1018px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 0px 0px 33px 33px;
    opacity: 1;
    }

.faixa strong{
    position: inherit;
}

.faixa strong h1{
    position: inherit;
    width: 113px;
    height: 106px;
    top: 310px;
    left: 91px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 80px;

    text-align: left;

    color: #262624;
    opacity: 1;
}

.faixa img{
    position: inherit;

    top: 301px;
    left: 91px;
}

.faixa p{
    position: inherit;
    left: 91px;
    top: 309px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 18px;

    text-align: left;

    color: #262624;
    opacity: 1;
}

.faixa hr{
    position: inherit;
    left: 91px;
    top: 341px;

    width: 272px;
    height: 0px;
    /* UI Properties */
    border: 2px solid #D1D1D1;
    opacity: 1;
}

.contact-suport{
    position: inherit;
    width: 309px;
    height: 86px;
    left: 71px;
    top: 408px;


    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #C1C1C1;
    border-radius: 17px;
    opacity: 1;

    cursor: pointer;
}

.contact-suport a{
    position: inherit;
    text-decoration: none;
}

.contact-suport a p{
    top: -28px;
    left: 107px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 15px;

    text-align: left;

    color: #0C234D;
    opacity: 1;
}

.contact-suport img{
    top: 18px;
    left: 48px;
}
