@font-face{
    src: url(fonts/SFPRODISPLAYREGULAR.OTF);
    font-family: SFPro;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    
    }

body {
    width: 1920px;
    height: 100%;
    position: relative;
    
}

.line-left {
    width: 1px;
    background-color: #00DFF2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 60px;
    z-index: 1;
    pointer-events: none;

    display: none;
}

.line-right {
    width: 1px;
    background-color: #00DFF2;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 60px;
    z-index: 1;

    display: none;
}

.gradient{
    /* Layout Properties */
    top: 0px;
    left: 0px;
    width: 100%;
    height: 9000px;
    background-image: radial-gradient(farthest-corner circle at -9% 0%, #3B7EF8  0%, #3B76D445 53%, #3C6CA500 100%, transparent ), 
    radial-gradient(farthest-corner circle at 100% 0%, #05244d 0%, #071b3a 53%, #3b76d4 100%, transparent);
    opacity: 1;
    
}

.header{
    position: relative;
    /* Layout Properties */
    top: 50px;
    left: 207px;
    width: 1507px;
    height: 51px;
    /* UI Properties */
    opacity: 1;
}

.header-content{
    position: relative;
    /* Layout Properties */
    left: -20px;

}

#header-logo{
    /* Layout Properties */
    position: relative;
    top: 4px;
    left: 41px;
    width: 63px;
    height: 51px;
    opacity: 1;
}

.header-content a{
        /* UI Properties */
        position: relative;
        top: -10px;
        left: 264px;
        width: 691px;
        height: 40px;


        text-align: left;
        font-family: SFPro, Sans-serif;
        font-style: normal;
        font-size: 25px;

        letter-spacing: 0px;
        color: #F2F2F2;
        opacity: 1;

        padding-right: 89px;
        text-decoration: none;
}

#carrinho{

    position: relative;
    left: 402px;
    /* UI Properties */
    opacity: 1;
}

.loginBtn{
    /* Layout Properties */
    position: relative;
    top: -42.5px;
    left: 1450px;
    width: 110px;
    height: 38px;
    /* UI Properties */
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border-radius: 19px;
    opacity: 1;
}

.loginBtn a{
    left: 31px;
    top: 5px;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 20px;

    letter-spacing: 0px;
    color: #0C234D;
    opacity: 1;
}

#nuvem-1{
    position: relative;
    top: 116px;
    left: -101px;
    width: 291px;
    height: 114px;
    z-index: 1000;
}

.top-page{
    position: relative;
    /* Layout Properties */
    top: 128px;
    left: 250px;
    width: 554px;
    height: 266px;
}

.top-page h1{
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 65px;

    text-align: left;
    letter-spacing: 0px;
    color: #F2F2F2;
    opacity: 1;
}

.top-page p{
    position: relative;
    top: 20px;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 25px;

    text-align: left;
    letter-spacing: 0px;
    color: #F2F2F2;
    opacity: 1;

    margin-inline-end: -11em;
}

@keyframes inclinacao {
    
    0%{
        transform: rotateY(0deg);
    }

    50%{
        transform: rotateY(10deg);
    }

    100%{
        transform: rotateY(0deg);
    }
}

#servidor{
    position: relative;
    /* Layout Properties */
    top: -185px;
    left: 1150px;
    width: 611px;
    height: 577px;

    transform: rotateY(0deg);

}



.show-plans{

    position: relative;

    /* Layout Properties */
    top: -335px;
    left: 230px;
    width: 352px;
    height: 138px;
}

#nuvem-2{
    position: relative;
    top: -16px;
    left: -2px;
}

.show-btn{
    position: relative;
    top: -121px;
    left: 17px;
    width: 320px;
    height: 60px;
    background: 0% 0% no-repeat padding-box padding-box #FFFFFF;
    border-radius: 41px;
    opacity: 1;
}

.show-btn a{
    position: relative;
    left: 27px;
    width: 161px;
    height: 37px;
    top: 16px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 25px;
    
    
    text-align: left;
    letter-spacing: 0px;
    color: #3358A7;
    opacity: 1;
    text-decoration: none;
}

.show-btn img{
    position: relative;
    left: 111px;
    top: 13px;
}

.dedicated-servers{
    position:  relative;
    /* Layout Properties */
    top: -170px;
    left: 114px;
    width: 510px;
    height: 555px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 34px;
    opacity: 1;
}

.dedicated-servers img{
    position: inherit;
    left: 3px;
    top: -31px;
}

#rectangle-1{
    position: inherit;
    background: #034AA6 0% 0% no-repeat padding-box;
    /* border: 1px solid #707070; */
    height: 11px;
    top: -37px;
    width: 329px;
    left: 34px;
}

.dedicated-servers p{
    left: 30px;
    top: -13px;

    position: inherit;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 40px;
    
    
    text-align: left;
    letter-spacing: 0px;
    color: #262624;
    opacity: 1;
}

@keyframes glowing {
    0% {
        background-color: rgb(37, 150, 190);
        box-shadow: 0 0 5px rgb(37, 150, 190);
    }
    50% {
        background-color: #9cf4f7;
        box-shadow: 0 0 20px #9cf4f7;
    }
    100% {
        background-color: rgb(37, 150, 190);
        box-shadow: 0 0 5px rgb(37, 150, 190);
    }
}

.luzinha{
    position: inherit;
    background-color: rgb(37, 150, 190);
    width: 42px;
    height: 17px;
    top: -272px;
    left: 86px;
    opacity: 0.5;

    animation: glowing 1300ms infinite;
}

#p-2{
    left: 30px;
    top: -80px;

    position: inherit;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 21px;
    
    
    text-align: left;
    letter-spacing: 0px;
    color: #262624;
    opacity: 1;

    margin-inline-end: 81px;
}

#dedicatedBtn{
    position: inherit;
    left: 30px;
    top: -81px;
    height: 43px;
    width: 272px;

    /* UI Properties */
    border: 1px solid #1E49A0;
    border-radius: 22px;
    opacity: 1;
}

#dedicatedBtn a{
    position: inherit;
    top: 10px;
    left: 13px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 21px;
    
    
    text-align: left;
    letter-spacing: 0px;
    color: #3358A7;
    opacity: 1;
    text-decoration: none;
}

#dedicatedBtn img{
    position: inherit;
    top: 10px;
    left: 98px;
}

.game-servers{
    position:  relative;
    /* Layout Properties */
    top: -726px;
    left: 690px;
    width: 510px;
    height: 555px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 34px;
    opacity: 1;
}

.game-servers img{
    position: inherit;
    left: -40px;
    top: -27px;
}

#rectangle-2{
    position: inherit;
    background: #034AA6 0% 0% no-repeat padding-box;
    /* border: 1px solid #707070; */
    height: 11px;
    top: -34px;
    width: 329px;
    left: 34px;
}

.game-servers p{
    left: 30px;
    top: -13px;

    position: inherit;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 40px;
    
    
    text-align: left;
    letter-spacing: 0px;
    color: #262624;
    opacity: 1;
    margin-inline-end: 200px
}

#p-3{
    left: 30px;
    top: 1px;

    position: inherit;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 21px;
    
    
    text-align: left;
    letter-spacing: 0px;
    color: #262624;
    opacity: 1;

    margin-inline-end: 81px;
}

#dedicatedBtn-2{
    position: inherit;
    left: 30px;
    top: 10px;
    height: 43px;
    width: 272px;

    /* UI Properties */
    border: 1px solid #1E49A0;
    border-radius: 22px;
    opacity: 1;
}

#dedicatedBtn-2 a{
    position: inherit;
    top: 10px;
    left: 13px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 21px;
    
    
    text-align: left;
    letter-spacing: 0px;
    color: #3358A7;
    opacity: 1;
    text-decoration: none;
}

#dedicatedBtn-2 img{
    position: inherit;
    top: 10px;
    left: 98px;
}

.vps-servers{
    position:  relative;
    /* Layout Properties */
    top: -1279px;
    left: 1266px;
    width: 510px;
    height: 555px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 34px;
    opacity: 1;
}

.vps-servers img{
    position: inherit;
    left: 34px;
    top: -75px;
    z-index: 1;
}

.glowing{
    position: inherit;
    width: 20px;
    height: 20px;
    position: inherit;
    width: 119px;
    height: 221px;
    top: -319px;
    left: 49px;
}

@keyframes border-glow {
    
    0%{
        height: 103%;
        width: 102%;
    }

    50%{
        height: 130%;
        width: 130%;
    }

    100%{
        height: 103%;
        width: 102%;
    }
}

.glowing::after{
    content: "";
    position: absolute;
    height: 103%;
    width: 102%;
    background: linear-gradient(rgba(86,139,209,1) 0%,rgba(24,50,98,1) 100%);
    z-index: 0;
    filter: blur(25px);
    top: -37px;
    left: -18px;

    animation: border-glow 1500ms infinite ease-in;
}



#rectangle-3{
    position: inherit;
    background: #034AA6 0% 0% no-repeat padding-box;
    /* border: 1px solid #707070; */
    height: 11px;
    top: -301px;
    width: 329px;
    left: 34px;
}

.vps-servers p{
    left: 30px;
    top: -277px;

    position: inherit;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 40px;
    
    
    text-align: left;
    letter-spacing: 0px;
    color: #262624;
    opacity: 1;
    margin-inline-end: 200px
}

#p-4{
    left: 30px;
    top: -262px;

    position: inherit;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 21px;
    
    
    text-align: left;
    letter-spacing: 0px;
    color: #262624;
    opacity: 1;

    margin-inline-end: 81px;
}

#dedicatedBtn-3{
    position: inherit;
    left: 30px;
    top: -255px;
    height: 43px;
    width: 272px;

    /* UI Properties */
    border: 1px solid #1E49A0;
    border-radius: 22px;
    opacity: 1;
}

#dedicatedBtn-3 a{
    position: inherit;
    top: 10px;
    left: 13px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 21px;
    
    
    text-align: left;
    letter-spacing: 0px;
    color: #3358A7;
    opacity: 1;
    text-decoration: none;
}

#dedicatedBtn-3 img{
    position: inherit;
    top: 10px;
    left: 98px;
}

.locations{
    position: relative;
    top: -1274px;
    left: 171px;

    width: 0;
    height: 552px;

}

.locations h1{
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 50px;
    left: 5px;
    top: 107px;
    position: inherit;


    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-inline-end: 1510px;
    line-height: 67px;
    
}

.locations p{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    top: 130px;
    left: 9px;
    position: inherit;
    text-align: left;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 21.5px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    width: 411px;
    word-break: break-all;

}

.coutry-1{

    position: inherit;

    top: -91px;
    width: 680px;
    height: 104px;
    left: 847px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 12px;
    opacity: 1;
}

.coutry-1 img{
    position: inherit;
    top: 11px;
    left: 28px;
}

#line-1{
    position: inherit;
    width: 484px;
    left: 196px;
    height: 104px;
    top: -87px;


    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 14px;
    opacity: 1;
}
#line-1 strong{
    position: inherit;
}

#line-1 strong h3{
    top: 16px;
    left: 31px;
    
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 34px;
    position: inherit;


    text-align: left;
    letter-spacing: 0px;
    color: #262624;
    opacity: 1;
}

#line-1 p{
    position: inherit;
    top: 18px;
    left: 31px;
    

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 22px;

    text-align: left;
    letter-spacing: 0px;
    color: #262624;
    opacity: 1;
}


.coutry-2{
    position: inherit;

    top: -54px;
    width: 680px;
    height: 104px;
    left: 847px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 12px;
    opacity: 1;
}

.coutry-2 img{
    position: inherit;
    top: 11px;
    left: 28px;
}

#line-2{
    position: inherit;
    width: 484px;
    left: 196px;
    height: 104px;
    top: -87px;

    
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 14px;
    opacity: 1;
}

#line-2 strong{
    position: inherit;
}

#line-2 strong h3{
    top: 16px;
    left: 31px;
    
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 34px;
    position: inherit;


    text-align: left;
    letter-spacing: 0px;
    color: #262624;
    opacity: 1;
}

#line-2 p{
    position: inherit;
    top: 18px;
    left: 31px;
    

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 22px;

    text-align: left;
    letter-spacing: 0px;
    color: #262624;
    opacity: 1;
}

.processor{
    position: relative;
    top: -1421px;
    left: 171px;

    width: 0;
    height: 552px;

}

.processor h1{
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 50px;
    left: 5px;
    top: 107px;
    position: inherit;


    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-inline-end: -363px;
    line-height: 67px;
    
}

.processor p{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;

    top: 130px;
    left: 9px;
    position: inherit;
    width: 411px;

    text-align: left;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 21.5px;

    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;

    
    word-break: break-all;

}

.block-1{
    position: inherit;

    width: 364px;
    height: 119px;
    left: 9px;
    top: 158px;

    /* UI Properties */
    border: 3px solid #FFFFFF;
    border-radius: 32px;
    opacity: 1
}

.block-1 img{
    position: inherit;

    width: 77px;
    height: 77px;
    left: 33px;
    top: 17px;
}

.block-1 strong{
    position: inherit;
}

.block-1 strong h3{

    position: inherit;
    top: -65px;
    left: 129px;

    text-align: left;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 20px;


    letter-spacing: -1px;
    color: #FFFFFF;
    opacity: 1;
}

.block-1 p{
    position: inherit;
    top: -57px;
    left: 129px;
    

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 15px;

    color: #FFFFFF;
    opacity: 1;
}

.block-2{
    position: inherit;
    
    width: 364px;
    height: 119px;
    left: 9px;
    top: 187px;

    /* UI Properties */
    border: 3px solid #FFFFFF;
    border-radius: 32px;
    opacity: 1
}

.block-2 img{
    position: inherit;
    
    width: 77px;
    height: 77px;
    left: 33px;
    top: 17px;
}

.block-2 strong{
    position: inherit;
}

.block-2 strong h3{

    position: inherit;
    top: -65px;
    left: 129px;

    text-align: left;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 20px;


    letter-spacing: -1px;
    color: #FFFFFF;
    opacity: 1;
}

.block-2 p{
    position: inherit;
    top: -57px;
    left: 129px;
    

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 15px;

    color: #FFFFFF;
    opacity: 1;
}


.velocimeter{

    position: inherit;

    top: -100px;
    width: 680px;
    height: 104px;
    left: 847px;
}

@keyframes movimentaPonteiro {
    
    0%{
        transform: rotate(0);
        transform-origin: bottom right;
    }

    100%{
        transform: rotate(150deg);
        transform-origin: bottom right;
    }
}

#ponteiro{
    position: absolute;
    top: 71px;
    left: 162px;
    width: 125px;
    height: 6px;
    animation: none;
    background: #3b76d4;
    z-index: 10;
}

#seta1{
    width: 4px;
    height: 19px;
    left: 1px;
    top: -12px;
    background: #3b76d4 no-repeat;
    position: inherit;
    transform: rotate(45deg);
}

#seta2{
    width: 4px;
    height: 19px;
    left: 1px;
    top: -1px;
    background: #3b76d4 no-repeat;
    position: inherit;
    transform: rotate(134deg);
}

#centro-ponteiro{
    background: #172e52 no-repeat;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    position: inherit;
    left: 281px;
    top: -178px;
    z-index: 100;
}

#velocimetro{
    position: absolute;
    top: -101px;
    left: 91px;
    width: 377px;
    height: 326px;
}

@property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

@property --decimal {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

#contador{
    position: inherit;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-weight: 900;
    text-align: left;
    color: #255096;
    font-size: 21px;
    left: 245px;
    top: -51px;
    z-index: 1;

    transition: none;
    counter-set: num var(--num);
    font: 800 40px system-ui;
    margin-inline-end: 576px;
    --num: none;

}

#contador::after {
    content: counter(num);
}

#contador-decimal{
    position: inherit;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-weight: 900;
    text-align: left;
    color: #255096;
    font-size: 21px;
    left: 278px;
    top: -173px;
    z-index: 1;

    transition: none;
    counter-set: num2 var(--decimal);
    font: 800 40px system-ui;

    --decimal: none;
    margin-inline-end: 576px;

}

#contador-decimal::after {
    content: counter(num2);
}

#contador-str-1{
    position: inherit;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-weight: 900;
    text-align: left;
    color: #255096;
    font-size: 21px;
    left: 270px;
    top: -105px;
    z-index: 1;
    margin-inline-end: 576px;

}

#contador-str-2{
    position: inherit;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-weight: 900;
    text-align: left;
    color: #255096;
    font-size: 21px;
    left: 305px;
    top: -227px;
    z-index: 1;
    margin-inline-end: 576px;

}

#serv-1-velo{
    position: absolute;
    top: -192px;
    left: -91px;
    width: 244px;
    height: 424px;
}

#serv-2-velo{
    position: absolute;
    top: -108px;
    left: 436px;
    width: 242px;
    height: 338px;
}



.velocimeter img{
    position: inherit;
    top: -193px;
    left: -89px;

    width: 766px;
    height: 424px;

}

.infos{

    position: relative;
    top: -1153px;
    left: 167px;

    width: 1541px;
    height: 841px;

    border: 3px solid #FFFFFF;
    border-radius: 35px;
    opacity: 1;
}

.info-content{
    position: inherit;
    left: 460px;
    top: -1px;
    height: 836px;
    width: 1076px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 0px 30px 30px 0px;
    opacity: 1;
    
}

#see-infra{
    position: inherit;
    left: 600px;
    top: 88px;

    text-align: center;

    width: 403px;
    height: 58px;
    /* UI Properties */
    border: 1px solid #FFFFFF;
    border-radius: 29px;
    opacity: 1;

    
}

#see-infra a{
    position: inherit;
    text-decoration: none;
}

#see-infra a strong{
    position: inherit;
}

#see-infra a strong p{
    position: inherit;
    left: -20px;
    top: 16px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 21px;

    color: #FFFFFF;
    opacity: 1;
}

#see-infra a img{
    position: inherit;
    top: -5px;
    left: 164px;
}

.garantias{
    position: relative;
    top: -891px;
    left: 183px;
    height: 1000px;
    width: 1541px;


}

.garantias strong{
    position: inherit;
}

.garantias strong h1{
    position: inherit;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 40px;

    text-align: center;

    color: #FFFFFF;
    opacity: 1;
}

.garantias p{
    position: inherit;
    top: 16px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 20px;

    text-align: center;

    color: #FFFFFF;
    opacity: 1;

    word-break: break-all;
}

.high-perfomance{
    position: inherit;
    top: 68px;

    width: 766px;
    height: 276px;
    
    /* UI Properties */
    /*border: 2px solid #FFFFFF;*/
    opacity: 1;

    --c: #FFFFFF; /* the border color */
    --b: 2px;    /* the border thickness*/
    --g: 5px;     /* the gap on hover */

    padding: calc(var(--g) + var(--b));
    --_g: #0000 25%,var(--c) 0;
    background: 
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
    var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
    conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
    0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
    cursor: pointer;    
}

.high-perfomance:hover {
    --_i: 100%;
    transition: .6s, background-size .6s .6s;
    
}

.high-perfomance strong{
    position: inherit;
}

.high-perfomance strong h2{
    position: inherit;
    top: 50px;
    left: 21px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 48px;

    text-align: left;

    color: #F2F2F2;
    opacity: 1;
}

.high-perfomance p{
    position: inherit;
    left: 21px;
    top: 63px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 17px;

    text-align: left;

    color: #F2F2F2;
    opacity: 1;
}

.custom-plans{
    position: inherit;
    top: -522px;
    left: 820px;

    width: 702px;
    height: 276px;
    /* UI Properties */
    opacity: 1;
}

.custom-plans{

    --c: #FFFFFF; /* the border color */
    --b: 2px;    /* the border thickness*/
    --g: 5px;     /* the gap on hover */

    padding: calc(var(--g) + var(--b));
    --_g: #0000 25%,var(--c) 0;
    background: 
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
    var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
    conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
    0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
    cursor: pointer;
}

.custom-plans:hover {
    --_i: 100%;
    transition: .7s, background-size .7s .7s;
}



.custom-plans strong{
    position: inherit;
}

.custom-plans strong h2{
    position: inherit;
    top: 50px;
    left: 21px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 48px;

    text-align: left;

    color: #F2F2F2;
    opacity: 1;
}

.custom-plans p{
    position: inherit;
    left: 21px;
    top: 63px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 17px;

    text-align: left;

    color: #F2F2F2;
    opacity: 1;
}

.uptime{
    position: inherit;
    top: 100px;

    width: 341px;
    height: 314px;
    /* UI Properties */

    opacity: 1;
}

.uptime{

    --c: #FFFFFF; /* the border color */
    --b: 2px;    /* the border thickness*/
    --g: 5px;     /* the gap on hover */

    padding: calc(var(--g) + var(--b));
    --_g: #0000 25%,var(--c) 0;
    background: 
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
    var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
    conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
    0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
    cursor: pointer;
}

.uptime:hover {
    --_i: 100%;
    transition: .8s, background-size .8s .8s;
}

.uptime strong{
    position: inherit;
}

.uptime strong h2{
    position: inherit;
    top: 50px;
    left: 21px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 48px;

    text-align: left;

    color: #F2F2F2;
    opacity: 1;
}

.uptime p{
    position: inherit;
    left: 21px;
    top: 63px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 17px;

    text-align: left;

    color: #F2F2F2;
    opacity: 1;
}

.suport{
    position: inherit;
    top: -490px;
    left: 390px;

    width: 591px;
    height: 314px;

    /* UI Properties */

    opacity: 1;
}

.suport{

    --c: #FFFFFF; /* the border color */
    --b: 2px;    /* the border thickness*/
    --g: 5px;     /* the gap on hover */

    padding: calc(var(--g) + var(--b));
    --_g: #0000 25%,var(--c) 0;
    background: 
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
    var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
    conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
    0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
    cursor: pointer;
}

.suport:hover {
    --_i: 100%;
    transition: .9s, background-size .9s .9s;
}

.suport strong{
    position: inherit;
}

.suport strong h2{
    position: inherit;
    top: 50px;
    left: 21px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 48px;

    text-align: left;

    color: #F2F2F2;
    opacity: 1;
}

.suport p{
    position: inherit;
    left: 21px;
    top: 63px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 17px;

    text-align: left;

    color: #F2F2F2;
    opacity: 1;
}

.hdd{
    position: inherit;
    top: -804px;
    left: 1037px;

    width: 482px;
    height: 314px;

    /* UI Properties */

    opacity: 1;
}

.hdd{

    --c: #FFFFFF; /* the border color */
    --b: 2px;    /* the border thickness*/
    --g: 5px;     /* the gap on hover */
    
    padding: calc(var(--g) + var(--b));
    --_g: #0000 25%,var(--c) 0;
    background: 
    conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
    var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
    conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
    0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
    cursor: pointer;
}

.hdd:hover {
    --_i: 100%;
    transition: 1s, background-size 1s 1s;
}

.hdd strong{
    position: inherit;
}

.hdd strong h2{
    position: inherit;
    top: 50px;
    left: 21px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 48px;

    text-align: left;

    color: #F2F2F2;
    opacity: 1;
}

.hdd p{
    position: inherit;
    left: 21px;
    top: 63px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 17px;

    text-align: left;

    color: #F2F2F2;
    opacity: 1;
}

#hr-1{
    position: relative;
    top: -989px;
    height: 30px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 11px 52px #00000029;
    opacity: 1;

    z-index: 1000;
}

.faixa{
    position: relative;
    top: -1000px;
    left: 1249px;


    width: 450px;
    height: 1018px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 0px 0px 33px 33px;
    opacity: 1;
    }

.faixa strong{
    position: inherit;
}

.faixa strong h1{
    position: inherit;
    width: 113px;
    height: 106px;
    top: 310px;
    left: 91px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 80px;

    text-align: left;

    color: #262624;
    opacity: 1;
}

.faixa img{
    position: inherit;

    top: 301px;
    left: 91px;
}

.faixa p{
    position: inherit;
    left: 91px;
    top: 309px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 18px;

    text-align: left;

    color: #262624;
    opacity: 1;
}

.faixa hr{
    position: inherit;
    left: 91px;
    top: 341px;

    width: 272px;
    height: 0px;
    /* UI Properties */
    border: 2px solid #D1D1D1;
    opacity: 1;
}

.contact-suport{
    position: inherit;
    width: 309px;
    height: 86px;
    left: 71px;
    top: 408px;


    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #C1C1C1;
    border-radius: 17px;
    opacity: 1;

    cursor: pointer;
}

.contact-suport a{
    position: inherit;
    text-decoration: none;
}

.contact-suport a p{
    top: -28px;
    left: 107px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 15px;

    text-align: left;

    color: #0C234D;
    opacity: 1;
}

.contact-suport img{
    top: 18px;
    left: 48px;
}

.depoiments-1{
    position: relative;
    top: -1831px;
    left: 125px;

    width: 985px;
    height: 201px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;

    margin-bottom: 32px;
}

.depoiments-1 img{
    position: inherit;
    width: 155px;
    height: 155px;
    top: 25px;
    left: 46px;


    border: 3px solid #1A3568;
    border-radius: 50%;
    opacity: 1;
}

.depoiments-1 strong{
    position: inherit;
}

.depoiments-1 h4{
    position: inherit;
    left: 231px;
    top: -115px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 31px;

    text-align: left;

    color: #262624;
    opacity: 1;
}

.depoiments-1 p{
    position: inherit;
    left: 231px;
    top: -105px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 18px;

    text-align: left;

    color: #262624;
    opacity: 1;
}

.estrelinhas-1{

    position: inherit;
}

.estrelinhas-1 img{
    position: inherit;
    left: 231px;
    top: -94px;

    width: 20px;
    height: 19px;
    border: 0;
    border-radius: 0;
}

.depoiments-2{
    position: relative;
    top: -1831px;
    left: 125px;

    width: 985px;
    height: 201px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;

    margin-bottom: 32px;
}

.depoiments-2 img{
    position: inherit;
    width: 155px;
    height: 155px;
    top: 25px;
    left: 46px;


    border: 3px solid #1A3568;
    border-radius: 50%;
    opacity: 1;
}

.depoiments-2 strong{
    position: inherit;
}

.depoiments-2 h4{
    position: inherit;
    left: 231px;
    top: -115px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 31px;

    text-align: left;

    color: #262624;
    opacity: 1;
}

.depoiments-2 p{
    position: inherit;
    left: 231px;
    top: -105px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 18px;

    text-align: left;

    color: #262624;
    opacity: 1;
}

.estrelinhas-2{

    position: inherit;
}

.estrelinhas-2 img{
    position: inherit;
    left: 231px;
    top: -94px;

    width: 20px;
    height: 19px;
    border: 0;
    border-radius: 0;
}

.depoiments-3{
    position: relative;
    top: -1831px;
    left: 125px;

    width: 985px;
    height: 201px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;

    margin-bottom: 32px;
}

.depoiments-3 img{
    position: inherit;
    width: 155px;
    height: 155px;
    top: 25px;
    left: 46px;


    border: 3px solid #1A3568;
    border-radius: 50%;
    opacity: 1;
}

.depoiments-3 strong{
    position: inherit;
}

.depoiments-3 h4{
    position: inherit;
    left: 231px;
    top: -115px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 31px;

    text-align: left;

    color: #262624;
    opacity: 1;
}

.depoiments-3 p{
    position: inherit;
    left: 231px;
    top: -105px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 18px;

    text-align: left;

    color: #262624;
    opacity: 1;
}

.estrelinhas-3{

    position: inherit;
}

.estrelinhas-3 img{
    position: inherit;
    left: 231px;
    top: -94px;

    width: 20px;
    height: 19px;
    border: 0;
    border-radius: 0;
}

.discord{
    position: relative;
    top: -1487px;
    height: 771px;
    width: 1920px;
}

.discord img{
    position: inherit;
    width: 1900px;
    height: 770px;


    opacity: 1;
}


.discord h1{
    top: -513px;
    left: 220px;
    position: inherit;
    width: 452px;


    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 63px;

    text-align: left;
    letter-spacing: -1px;

    color: #F2F2F2;
    opacity: 1;
}

.join-server{
    position: inherit;
    top: -469px;
    left: 220px;

    width: 314px;
    height: 60px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 41px;

    cursor: pointer;
}

.join-server a{
    position: inherit;
    text-decoration: none;
}

.join-server a p{
    position: inherit;
    top: 18px;
    left: 32px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;

    text-align: left;
    letter-spacing: 0px;

    color: #3358A7;
    opacity: 1;
}

.join-server img{
    top: -3px;
    left: 264px;

    width: 16px;
    height: 15px;
}

#hr-2{
    position: relative;
    top: -1488px;

    width: 1920px;
    height: 30px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 11px 52px #00000029;
    opacity: 1;
}

.questions{
    text-align: center;
    position: relative;
    top: -1373px;
    left: 280px;

    width: 1295px;
    height: 1257px;
}

.questions h1{
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 60px;
    font-weight: bold;

    letter-spacing: -2px;
    line-height: 64px;

    color: #F2F2F2;
    opacity: 1;
}

.questions p{
    position: inherit;
    top: 10px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 20px;

    letter-spacing: -1px;
    line-height: 64px;

    color: #F2F2F2;
    opacity: 1;
}

.questions-2{
    position: inherit;
    top: 60px;

    width: 1295px;
    height: 971px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 33px 33px 0px 0px;
    opacity: 1;
}

.questions-2 h3{
    position: inherit;
    left: 96px;
    top: 65px;
    text-align: left;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 26px;

    letter-spacing: -1px;
    font-weight: bold;

    color: #262624;
    opacity: 1;
    padding-bottom: 120px;
}

#h3-especial{
    position: inherit;
    left: 96px;
    top: 65px;
    text-align: left;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 26px;

    letter-spacing: -1px;
    font-weight: bold;

    color: #262624;
    opacity: 1;
}

.questions-2 p{
    position: absolute;
    left: 96px;
    text-align: left;
    top: 110px;


    line-height: 26px;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 15px;

    letter-spacing: -1px;

    color: #262624;
    opacity: 1;
    
}

.questions-2 hr{
    position: inherit;
    left: 89px;
    top: 51px;

    width: 1088px;
    height: 0px;
    /* UI Properties */
    border: 2px solid #C7C7C7;
    opacity: 1;
}

.subscribe{

    position: relative;
    width: 1920px;
    height: 398px;
    top: -1410px;

    background: rgb(86,139,209);
    background: linear-gradient(270deg, rgba(86,139,209,1) 0%, rgba(24,50,98,1) 100%);
}

.subscribe h1{
    position: inherit;
    top: 126px;
    left: 350px;
    width: 800px;


    text-align: left;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -2px;

    color: #FFFFFF;
    opacity: 1;

}

.contract-button{
    position: inherit;
    top: -6px;
    left: 1221px;

    width: 296px;
    height: 137px;
    /* UI Properties */
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    opacity: 1;
}

.contract-button p{
    position: inherit;
    left: 38px;
    top: 19px;

    text-align: left;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: -1px;

    color: #FFFFFF;
    opacity: 1;
}

.contract-button-2{
    position: inherit;
    top: 35px;

    width: 296px;
    height: 75px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 24px;
    opacity: 1;

    cursor: pointer;
}

.contract-button-2 a{
    position: inherit;
    text-decoration: none;
}

.contract-button-2 a p{


    position: inherit;
    left: 21px;
    top: 21px;

    text-align: left;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 26px;
    
    font-weight: bold;
    letter-spacing: -1px;

    color: #193463;
    opacity: 1;
}

.contract-button-2 a img{
    position: inherit;
    top: -5px;
    left: 244px;

    width: 21px;
    height: 19px;

}

.footer{
    background: #193463;
    width: 100%;
    height: 442px;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.services{
    position: inherit;
}

.services h1{
    position: inherit;
    left: 200px;
    top: 75px;

    text-align: left;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 28px;
    
    font-weight: bold;
    letter-spacing: -1px;

    color: #F2F2F2;
    opacity: 1;
}

.services p{
    position: inherit;
    
    left: 200px;
    top: 121px;
    width: 248px;


    text-align: left;
    line-height: 38px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 23px;
    
    letter-spacing: -1px;

    color: #F2F2F2;
    opacity: 1;
}

.services-1{
    position: inherit;
    left: 403px;
}

.services-1 h1{
    position: inherit;
    left: 200px;
    top: 75px;

    text-align: left;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 28px;
    
    font-weight: bold;
    letter-spacing: -1px;

    color: #F2F2F2;
    opacity: 1;
}

.services-1 p{
    position: inherit;
    
    left: 200px;
    top: 121px;
    width: 248px;


    text-align: left;
    line-height: 38px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 23px;
    
    letter-spacing: -1px;

    color: #F2F2F2;
    opacity: 1;
}

.services-2{
    position: inherit;
    left: 803px;
}

.services-2 h1{
    position: inherit;
    left: 200px;
    top: 75px;

    text-align: left;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 28px;
    
    font-weight: bold;
    letter-spacing: -1px;

    color: #F2F2F2;
    opacity: 1;
}

.services-2 p{
    position: inherit;
    
    left: 200px;
    top: 121px;
    width: 248px;


    text-align: left;
    line-height: 38px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 23px;
    
    letter-spacing: -1px;

    color: #F2F2F2;
    opacity: 1;
}

.footer img{
    position: inherit;
    top: 82px;
    left: 1617px;
    z-index: 1000;
    
}

.footer-2{
    background: #2F4678;
    width: 100%;
    height: 95px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-2 img{
    position: inherit;
    left: 203px;
    top: 31px;
}

.footer-2 p{
    position: inherit;
    left: 280px;
    top: 39px;

    text-align: left;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 22px;
    
    letter-spacing: -1px;

    color: #F2F2F2;
    opacity: 1;
}

@media only screen and (max-width: 1024px) {
    body {
        width: 1024px;
    }

    .gradient{
        width: 1024px;
    }

    .header-content a{
        left: 44px;
        font-size: 16px;
        padding-right: 49px;
    }

    #header-logo{
        left: -28px;
        width: 52px;
        height: 39px;
    }

    #carrinho{
        left: 44px;
        opacity: 1;
        width: 27px;
        height: 27px;
        top: -3px;
    }

    .loginBtn{
        top: -31.5px;
        left: 709px;
        width: 62px;
        height: 23px;
    }

    .loginBtn a{
        left: 12px;
        top: 2px;
        font-family: SFPro, Sans-serif;
        font-style: normal;
        font-size: 16px;
        letter-spacing: 0px;
        color: #0C234D;
        opacity: 1;
    }

    #nuvem-1{
        width: 208px;
        height: 80px;
    }

    #nuvem-2{
        width: 213px;
        top: -54.3226px;
    }

    .show-btn{
        top: -117px;
        left: -2px;
        width: 162px;
        height: 38px;;
    }

    .show-plans{
        top: -282px;
        left: 135px;
    }
    .show-btn a{
        font-size: 14px;
        left: 14px;
        top: 3px;
    }

    .show-btn{
        top: -87px;
        left: 2px;
        width: 164px;
        height: 36px;
    }

    .show-btn img{
        left: 67px;
        top: 10px;
    }

    .top-page{
        top: 19px;
        left: 185px;
    }
    
    .top-page h1{
        font-size: 34px;
        width: 294px;

    }

    .top-page p{
        font-size: 14px;
        width: 285px;
        top: 8px;

    }

    #servidor{
        left: 592.11px;
        top: -253.678px;
        width: 353px;
        height: 330px;
    }

    .dedicated-servers{
        width: 230px;
        height: 224px;
        top: -170px;
    }

    .dedicated-servers img{
        width: 100px;
    }
    #rectangle-1{
        width: 180px;
        left: 17px;
    }

    .dedicated-servers p{
        left: 17px;
        top: -33px;
        font-size: 13px;
    }

    #p-2{
        left: 17px;
        top: -114px;
        font-size: 9px;
    }

    #dedicatedBtn{
        left: 17px;
        top: -102px;
        height: 23px;
        width: 175px;
    }


    #dedicatedBtn a{
        top: 2px;
        left: 13px;
        font-family: SFPro, Sans-serif;
        font-style: normal;
        font-size: 13px;
    }
    #dedicatedBtn img{
        top: 5px;
        position: absolute;
        left: 148px;
        width: 12px;
    }

    .game-servers{
        width: 230px;
        height: 224px;
        top: -394px;
        left: 444px;
    }

    .game-servers img{
        width: 100px;
        left: -13px;
    }
    #rectangle-2{
        width: 180px;
        left: 17px;
    }

    .game-servers p{
        left: 17px;
        top: -33px;
        font-size: 13px;
    }

    #p-3{
        left: 17px;
        top: -32px;
        font-size: 9px;
    }

    #dedicatedBtn-2{
        left: 17px;
        top: -18px;
        height: 23px;
        width: 175px;
    }


    #dedicatedBtn-2 a{
        top: 2px;
        left: 13px;
        font-family: SFPro, Sans-serif;
        font-style: normal;
        font-size: 13px;
    }
    #dedicatedBtn-2 img{
        top: 5px;
        position: absolute;
        left: 148px;
        width: 12px;
    }

    .vps-servers{
        width: 230px;
        height: 224px;
        top: -614px;
        left: 760px;
    }

    .vps-servers img{
        width: 64px;
        left: 17px;
        top: -48px;
    }
    #rectangle-3{
        width: 180px;
        left: 17px;
        top: -211px;
    }

    .vps-servers p{
        left: 17px;
        font-size: 13px;
        top: -209px;
    }

    #p-4{
        left: 17px;
        font-size: 9px;
        top: -208px;
    }

    #dedicatedBtn-3{
        top: -195px;
        left: 17px;
        height: 23px;
        width: 175px;
    }


    #dedicatedBtn-3 a{
        top: 2px;
        left: 13px;
        font-family: SFPro, Sans-serif;
        font-style: normal;
        font-size: 13px;
    }
    #dedicatedBtn-3 img{
        top: 5px;
        position: absolute;
        left: 148px;
        width: 12px;
    }

    .glowing{
        width: 65px;
        height: 157px;
        top: -210px;
        left: 26px;
    }

    .locations{
        top: -673px;
        left: 92px;
    }

    .processor{
        top: -922px;
        left: 92px;
    }

    .infos{
        top: -782px;
        left: 92px;
        width: 886px;
        height: 625px;
    }

    .info-content{
        width: 422px;
        height: 623px;
    }
}