@font-face{
    src: url(/static/fonts/SF-Pro-Text-Heavy.ttf);
    font-family: SFPro;
}

@font-face{
    src: url(/static/fonts/SF-Pro-Text-Regular.ttf);
    font-family: SFProRegular;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    
    }

body {
    width: 1920px;
    height: 100%;
    position: relative;
    
}


.gradient{
    /* Layout Properties */
    top: 0px;
    left: 0px;
    width: 100%;
    height: 6035px;
    background-image: radial-gradient(farthest-corner circle at -9% 0%, #3B7EF8  0%, #3B76D445 53%, #3C6CA500 100%, transparent ), 
    radial-gradient(farthest-corner circle at 100% 0%, #05244d 0%, #071b3a 53%, #3b76d4 100%, transparent);
    opacity: 1;
    
}

.header{
    position: relative;
    /* Layout Properties */
    top: 50px;
    left: 207px;
    width: 1507px;
    height: 51px;
    /* UI Properties */
    opacity: 1;
    z-index: 1000;
}

.header-content{
    position: relative;
    /* Layout Properties */
    left: -20px;

}

#header-logo{
    /* Layout Properties */
    position: relative;
    top: 4px;
    left: 41px;
    width: 63px;
    height: 51px;
    opacity: 1;

    z-index: 1000;
}

.header-content a{
        /* UI Properties */
        position: relative;
        top: -10px;
        left: 264px;
        width: 691px;
        height: 40px;


        text-align: left;
        font-family: SFPro, Sans-serif;
        font-style: normal;
        font-size: 25px;

        letter-spacing: 0px;
        color: #F2F2F2;
        opacity: 1;

        padding-right: 89px;
        text-decoration: none;
}

#carrinho{

    position: relative;
    left: 402px;
    /* UI Properties */
    opacity: 1;
}

.loginBtn{
    /* Layout Properties */
    position: relative;
    top: -42.5px;
    left: 1450px;
    width: 110px;
    height: 38px;
    /* UI Properties */
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border-radius: 19px;
    opacity: 1;
}

.loginBtn a{
    left: 31px;
    top: 5px;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 20px;

    letter-spacing: 0px;
    color: #0C234D;
    opacity: 1;
}

.top-page{
    position: relative;
    top: -43px;
    left: 0px;
    width: 1920px;
    height: 1080px;
}

.top-page img{
    position: inherit;
    top: 132px;
    left: 0px;
    width: auto;
    height: auto;
}

#linha-top{
    height: 33px;
    background: #A4C5F7 0% 0% no-repeat padding-box;
    opacity: 1;
    top: 98px;
    position: relative;
    margin-bottom: 200px;
}


.top-page-rust{
    position: relative;
    top: -961px;
    width: 752px;
    height: 427px;
    z-index: 1000;
    margin-left: auto;
    margin-right: auto;
}

.top-page-rust h1{
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 51px;
    text-align: center;
    font-weight: 900;
    color: #F2F2F2;
    opacity: 1;
    letter-spacing: -4px;
    word-spacing: -8px;
    line-height: 63px;
}

.top-page-rust p{
    font-family: SFProRegular, Sans-serif;
    font-style: normal;
    font-size: 17px;
    text-align: center;
    color: #F2F2F2;
    opacity: 1;
    top: 15px;
    position: inherit;
    font-weight: bold;
    left: 4px;
}

#see-more{
    width: 184px;
    height: 60px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 41px;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
    position: inherit;
}

#see-more p{
    font-family: SFProRegular, sans-serif;
    letter-spacing: -1px;
    font-weight: 800;
    color: #3358A7;
    opacity: 1;
    text-align: center;
    font-size: 21px;
    left: -10px;
}

.plans{

    position: relative;
    top: 44px;
    margin-left: auto;
    margin-right: auto;

    width: 1213px;
    height: 819px;
}

.plans h1{
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 42px;
    text-align: center;
    font-weight: 800;
    color: #F2F2F2;
    opacity: 1;
    letter-spacing: -1px;
    word-spacing: -8px;
}

.plans p{
    font-family: SFProRegular, Sans-serif;
    font-style: normal;
    font-size: 18.70px;
    text-align: center;
    color: #F2F2F2;
    opacity: 1;
    top: 23px;
    position: inherit;
    font-weight: normal;
    left: 4px;
}

.click{

    margin-left: auto;
    margin-right: auto;
    width: 511px;
    height: 58px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #FFFFFF;
    border-radius: 29px;
    opacity: 1;
    top: 83px;
    position: inherit;
}

.click p{
    font-family: SFProRegular, Sans-serif;
    font-style: normal;
    font-size: 17px;
    text-align: left;
    color: #1C376B;
    opacity: 1;
    position: inherit;
    font-weight: 800;
    left: 35px;
    top: 16px;

}

.click img{
    position: inherit;
    top: 16px;
    width: 34px;
    height: 18px;
    left: 395px;
    top: -4px;
}

.tabela{
    position: inherit;
    top: 145px;


    width: 1213px;
    height: 80px;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border: 1px solid #E8E8E8;
    border-radius: 20px 20px 0px 0px;
    opacity: 1;
}

.tabela p{
    display: inline-block;
    text-align: left;
    left: 33px;
    font-size: 17px;
    color: #9D9D9D;
    letter-spacing: -1px;
    font-weight: 700;
    top: 25px;
    width: 142px;
    position: inherit;
    font-family: SFProRegular, sans-serif;
}

#subscribe{

    position: inherit;
    width: 119px;
    height: 33px;
    border: 1px solid #1E49A0;
    border-radius: 22px;
    opacity: 1;
    top: 20px;
    left: -27px;
    text-align: left;
    color: #034AA6;
    font-weight: 600;
}

#subscribe a{
    text-decoration: none;
    /* vertical-align: bottom; */
    top: 6px;
    position: inherit; 
    font-size: 16px;
    left: 2px;
}

#subscribe2{
    position: absolute;
    width: 120px;
    height: 40px;
    background: #034AA6 0% 0% no-repeat padding-box;
    border: 1px solid #1E49A0;
    border-radius: 22px;
    opacity: 1;
    left: 1088px;
    top: 18px;
}

#subscribe2 a{
    color: white;
    font-weight: 900;
    font-size: 16px;
    text-decoration: none;
    top: 6px;
    position: inherit;
    left: 15px;
}

.linha-1{

    position: inherit;
    left: -1px;
    width: 1213px;
    height: 68px;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border: 1px solid #E8E8E8;
    border-top: #c5c5c5 1px solid;
    opacity: 1;
    top: 58px;
}

.linha-1 p{
    color: #262624;
    font-weight: 900;
    font-size: 17px;
    letter-spacing: -2px;
    font-family: SFProRegular, sans-serif;
}

.linha-2{

    position: inherit;
    left: -1px;
    width: 1213px;
    height: 68px;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border: 1px solid #E8E8E8;
    border-top: #c5c5c5 1px solid;
    opacity: 1;
    top: 58px;
}

.linha-2 p{
    color: #262624;
    font-weight: 900;
    font-size: 17px;
    letter-spacing: -2px;
    font-family: SFProRegular, sans-serif;
}

.linha-3{

    position: inherit;
    left: -1px;
    width: 1213px;
    height: 68px;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border: 1px solid #E8E8E8;
    border-top: #c5c5c5 1px solid;
    opacity: 1;
    top: 58px;
}

.linha-3 p{
    color: #262624;
    font-weight: 900;
    font-size: 17px;
    letter-spacing: -2px;
    font-family: SFProRegular, sans-serif;
}

.linha-4{

    position: inherit;
    left: -1px;
    width: 1213px;
    height: 68px;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border: 1px solid #E8E8E8;
    border-top: #c5c5c5 1px solid;
    opacity: 1;
    top: 58px;
}

.linha-4 p{
    color: #262624;
    font-weight: 900;
    font-size: 17px;
    letter-spacing: -2px;
    font-family: SFProRegular, sans-serif;
}

.linha-5{

    position: inherit;
    left: -1px;
    width: 1213px;
    height: 68px;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border: 1px solid #E8E8E8;
    border-top: #c5c5c5 1px solid;
    opacity: 1;
    top: 58px;
}

.linha-5 p{
    color: #262624;
    font-weight: 900;
    font-size: 17px;
    letter-spacing: -2px;
    font-family: SFProRegular, sans-serif;
}

.linha-6{

    position: inherit;
    left: -1px;
    width: 1213px;
    height: 68px;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border: 1px solid #E8E8E8;
    border-top: #c5c5c5 1px solid;
    opacity: 1;
    top: 58px;
    border-radius: 0px 0px 20px 20px;
}

.linha-6 p{
    color: #262624;
    font-weight: 900;
    font-size: 17px;
    letter-spacing: -2px;
    font-family: SFProRegular, sans-serif;
}

.additional-packs{
    margin-left: auto;
    margin-right: auto;
    position: inherit;

    top: -2100px;

    width: 556px;
    height: 58px;
    border: 1px solid #FFFFFF;
    border-radius: 29px;
    opacity: 1;
}

.additional-packs P{
    position: inherit;
    font-weight: 900;
    font-family: SFProRegular, Sans-serif;
    font-style: normal;
    font-size: 17px;
    text-align: left;
    color: #F2F2F2;
    opacity: 1;
    top: 16px;
    left: 36px;

}

.ranking{
    top: 100px;
    position: relative;
    
    margin-left: auto;
    margin-right: auto;

    width: 1225px;
    height: 472px;
}

.in-time{
    position: inherit;
    float: right;
    top: -35px;


    width: 722px;
    height: 472px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 21px 70px #00000029;
    border-radius: 21px;
    opacity: 1;
}

.ranking h1{
    position: inherit;

    top: 200px;

    text-align: left;

    font-weight: 900;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 38px;
    color: #F2F2F2;
    opacity: 1;

    word-spacing: -2px;

}

.ranking p{
    position: inherit;

    top: 220px;

    text-align: left;

    font-family: SFProRegular, Sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #F2F2F2;
    opacity: 1;
    width: 401px;
}

.in-time h1{
    text-align: center;
    position: inherit;

    top: 40px;

    font-weight: 900;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 25px;
    color: #262624;
    opacity: 1;

    word-spacing: -2px;
}

.in-time p{
    position: absolute;
    float: left;
    top: 113px;

    font-weight: 500;
    font-family: SFProRegular, Sans-serif;
    font-style: normal;
    color: #262624;
    opacity: 1;

    left: 50px;

}

.in-time img{
    position:absolute;
    top: 184px;
    left: 49px;
}

.barrinha-1{

    position: absolute;
    width: 0px;
    height: 48px;
    border: 2px solid #D8D8D8;
    opacity: 1;
    left: 409px;
    top: 173px;
}
.barrinha-2{
    position: absolute;
    width: 0px;
    height: 48px;
    border: 2px solid #D8D8D8;
    opacity: 1;
    left: 409px;
    top: 260px;
}

.barrinha-3{
    position: absolute;
    width: 0px;
    height: 48px;
    border: 2px solid #D8D8D8;
    opacity: 1;
    left: 409px;
    top: 348px;
}

.barrinha-4{
    position: absolute;
    width: 0px;
    height: 48px;
    border: 2px solid #D8D8D8;
    opacity: 1;
    left: 578px;
    top: 348px;
}

.barrinha-5{
    position: absolute;
    width: 0px;
    height: 48px;
    border: 2px solid #D8D8D8;
    opacity: 1;
    left: 578px;
    top: 260px;
}

.barrinha-6{
    position: absolute;
    width: 0px;
    height: 48px;
    border: 2px solid #D8D8D8;
    opacity: 1;
    left: 578px;
    top: 173px;
}

.control-ddos{
    position: relative;
    width: 1307px;
    top: 270px;
    height: 395px;
    left: 317px;
}

.control-ddos h1{
    position: inherit;

    top: 200px;

    text-align: left;

    font-weight: 900;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 38px;
    color: #F2F2F2;
    opacity: 1;

    word-spacing: -2px;

}

.control-ddos p{
    position: inherit;

    top: 220px;

    text-align: left;

    font-family: SFProRegular, Sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #F2F2F2;
    opacity: 1;
}


@keyframes popUp {

    0%{
        opacity: 0.5;
        transform: scale(0.5);
    }

    50%{
        opacity: 0.8;
        transform: scale(0.8);
    }

    100%{
        opacity: 1;
        transform: scale(1);
    }
    
}

.control-ddos img{
    position: inherit;
    width: auto;
    height: auto;
    top: -91px;
    left: 700px;

    z-index: 10;
    
}

@keyframes moveSeta {
    
    0%{
        top: 204px;
    }

    100%{
        top: 406px;
    }
}


#seta{
    position: absolute;
    width: auto;
    height: auto;
    z-index: 5;
    top: 204px;
    left: 861px;

    animation: moveSeta 0.5s 1 linear;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    display: none;
}

.control-ddos-2{
    position: relative;
    width: 1307px;
    top: 400px;
    height: 395px;
    left: 317px;

    transform: scaleY(-1);
    transform: scale(1, -1);
    transform: rotateX(180deg);
    transform: rotateY(180deg);
}

.control-ddos-2 h1{
    position: inherit;

    top: 200px;
    left: 28px;
    width: 379px;
    text-align: left;

    font-weight: 900;
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 38px;
    color: #F2F2F2;
    opacity: 1;

    word-spacing: -2px;
    transform: rotateX(180deg);
    transform: rotateY(180deg);

}

.control-ddos-2 p{
    position: inherit;

    top: 220px;
    left: 28px;
    width: 379px;
    text-align: left;

    font-family: SFProRegular, Sans-serif;
    font-style: normal;
    font-size: 18px;
    color: #F2F2F2;
    opacity: 1;
    transform: rotateX(180deg);
    transform: rotateY(180deg);
}

.control-ddos-2 img{
    position: inherit;
    width: 570px;
    height: 395px;
    top: -91px;
    left: 755px;

    
}

@keyframes glowing {
    0% {
        background-color: rgb(37, 150, 190);
        box-shadow: 0 0 5px rgb(37, 150, 190);
    }
    50% {
        background-color: #9cf4f7;
        box-shadow: 0 0 20px #9cf4f7;
    }
    100% {
        background-color: rgb(37, 150, 190);
        box-shadow: 0 0 5px rgb(37, 150, 190);
    }
}

.luzinha{
    position: absolute;
    background-color: rgb(37, 150, 190);
    width: 42px;
    height: 17px;
    top: -272px;
    left: 86px;
    opacity: 0.5;

    animation: glowing 1300ms infinite;
}


.infos{

    position: relative;
    top: 110px;
    left: 167px;

    width: 1541px;
    height: 841px;

    border: 3px solid #FFFFFF;
    border-radius: 35px;
    opacity: 1;
}

.info-content{
    position: absolute;
    left: 460px;
    top: -1px;
    height: 836px;
    width: 1076px;

    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 0px 30px 30px 0px;
    opacity: 1;
    z-index: 50;
    display: flex;
    
}
.info-content img{
    position: inherit;
    margin-left: 25%;
    margin-top: 5%;
}

#img-retangulo1{
    display: block;
}

#img-retangulo2{
    display: none;
}

#img-retangulo3{
    display: none;
}

#img-retangulo4{
    display: none;
}

#h1-retangulo1{
    display: block;
}

#h1-retangulo2{
    display: none;
}
#h1-retangulo3{
    display: none;
}
#h1-retangulo4{
    display: none;
}

#p-retangulo1{
    display: block;
}

#p-retangulo2{
    display: none;
}

#p-retangulo3{
    display: none;
}

#p-retangulo4{
    display: none;
}

.info-content h1{
    position: inherit;
    font-size: 29px;
    font-family: SFPro, Sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
    top: 615px;
    left: 265px;
}

.info-content p{
    position: inherit;
    font-family: SFProRegular, Sans-serif;
    font-size: 17px;
    top: 663px;
    left: 265px;
    width: 691px;
    
}

.retangulo1{

    position: relative;
    width: 500px;
    height: 180px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 27px;
    opacity: 1;
    left: 20px;
    top: 25px;
    box-shadow: 27px -2px 99px #00000029;
    z-index: 10;
    cursor: pointer;

}

.retangulo1 h1{
    font-size: 24px;
    font-family: SFPro, Sans-serif;
    font-weight: 800;
    letter-spacing: -1px;
    top: 20px;
    position: relative;
    left: 40px;

}

.retangulo1 hr{
    width: 369px;
    height: 0px;
    border: 3px solid #30549F;
    opacity: 1;
    position: inherit;
    left: 40px;
    top: 30px;
}

.retangulo1 p{
    width: 418px;
    height: 63px;
    position: inherit;
    left: 40px;
    top: 41px;
    font-family: SFProRegular, Sans-serif;
    font-size: 14px;
}

.retangulo2{

    position: relative;
    width: 500px;
    height: 180px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 27px;
    opacity: 1;
    left: 20px;
    top: 46px;
    box-shadow: 27px -2px 99px #00000029;
    z-index: 100;
    cursor: pointer;

}

.retangulo2 h1{
    font-size: 24px;
    font-family: SFPro, Sans-serif;
    font-weight: 800;
    letter-spacing: -1px;
    top: 20px;
    position: relative;
    left: 40px;

}

.retangulo2 hr{
    width: 369px;
    height: 0px;
    border: 3px solid #30549F;
    opacity: 1;
    position: inherit;
    left: 40px;
    top: 30px;
}

.retangulo2 p{
    width: 418px;
    height: 63px;
    position: inherit;
    left: 40px;
    top: 41px;
    font-family: SFProRegular, Sans-serif;
    font-size: 14px;
}

.retangulo3{

    position: relative;
    width: 500px;
    height: 180px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 27px;
    opacity: 1;
    left: 20px;
    top: 67px;
    box-shadow: 27px -2px 99px #00000029;
    z-index: 100;
    cursor: pointer;
}

.retangulo3 h1{
    font-size: 22px;
    font-family: SFPro, Sans-serif;
    font-weight: 800;
    letter-spacing: -1px;
    top: 20px;
    position: relative;
    left: 40px;
    z-index: 100;

}

.retangulo3 hr{
    width: 369px;
    height: 0px;
    border: 3px solid #30549F;
    opacity: 1;
    position: inherit;
    left: 40px;
    top: 30px;
}

.retangulo3 p{
    width: 398px;
    height: 63px;
    position: inherit;
    left: 40px;
    top: 41px;
    font-family: SFProRegular, Sans-serif;
    font-size: 14px;
    z-index: 100;
}

.retangulo4{

    position: relative;
    width: 500px;
    height: 180px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 27px;
    opacity: 1;
    left: 20px;
    top: 89px;
    box-shadow: 27px -2px 99px #00000029;
    z-index: 100;
    cursor: pointer;
}

.retangulo4 h1{
    font-size: 24px;
    font-family: SFPro, Sans-serif;
    font-weight: 800;
    letter-spacing: -1px;
    top: 20px;
    position: relative;
    left: 40px;

}

.retangulo4 hr{
    width: 369px;
    height: 0px;
    border: 3px solid #30549F;
    opacity: 1;
    position: inherit;
    left: 40px;
    top: 30px;
}

.retangulo4 p{
    width: 398px;
    height: 63px;
    position: inherit;
    left: 40px;
    top: 41px;
    font-family: SFProRegular, Sans-serif;
    font-size: 14px;
}

#see-infra{
    position: inherit;
    left: 600px;
    top: 186px;

    text-align: center;

    width: 403px;
    height: 58px;
    /* UI Properties */
    border: 1px solid #FFFFFF;
    border-radius: 29px;
    opacity: 1;

    
}

#see-infra a{
    position: inherit;
    text-decoration: none;
}

#see-infra a strong{
    position: inherit;
}

#see-infra a strong p{
    position: inherit;
    left: -20px;
    top: 16px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 21px;

    color: #FFFFFF;
    opacity: 1;
}

#see-infra a img{
    position: inherit;
    top: -5px;
    left: 164px;
}

.locations{
    position: relative;
    top: 0px;
    left: 171px;

    width: 0;
    height: 552px;

}

.locations h1{
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 50px;
    left: 5px;
    top: 107px;
    position: inherit;


    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-inline-end: 1510px;
    line-height: 67px;
    
}

.locations p{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    top: 130px;
    left: 9px;
    position: inherit;
    text-align: left;
    font-family: SFProRegular, Sans-serif;
    font-style: normal;
    font-size: 21.5px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    width: 411px;
    word-break: break-all;

}

.coutry-1{

    position: inherit;

    top: -91px;
    width: 680px;
    height: 104px;
    left: 847px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 12px;
    opacity: 1;
}

.coutry-1 img{
    position: inherit;
    top: 11px;
    left: 28px;
}

#line-1{
    position: inherit;
    width: 484px;
    left: 196px;
    height: 104px;
    top: -87px;


    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 14px;
    opacity: 1;
}
#line-1 strong{
    position: inherit;
}

#line-1 strong h3{
    top: 16px;
    left: 31px;
    
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 34px;
    position: inherit;


    text-align: left;
    letter-spacing: 0px;
    color: #262624;
    opacity: 1;
}

#line-1 p{
    position: inherit;
    top: 18px;
    left: 31px;
    

    font-family: SFProRegular, Sans-serif;
    font-style: normal;
    font-size: 22px;

    text-align: left;
    letter-spacing: 0px;
    color: #262624;
    opacity: 1;
}


.coutry-2{
    position: inherit;

    top: -54px;
    width: 680px;
    height: 104px;
    left: 847px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 12px;
    opacity: 1;
}

.coutry-2 img{
    position: inherit;
    top: 11px;
    left: 28px;
}

#line-2{
    position: inherit;
    width: 484px;
    left: 196px;
    height: 104px;
    top: -87px;

    
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 14px;
    opacity: 1;
}

#line-2 strong{
    position: inherit;
}

#line-2 strong h3{
    top: 16px;
    left: 31px;
    
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 34px;
    position: inherit;


    text-align: left;
    letter-spacing: 0px;
    color: #262624;
    opacity: 1;
}

#line-2 p{
    position: inherit;
    top: 18px;
    left: 31px;
    

    font-family: SFProRegular, Sans-serif;
    font-style: normal;
    font-size: 22px;

    text-align: left;
    letter-spacing: 0px;
    color: #262624;
    opacity: 1;
}

.important-infos-1{
    position: relative;
    top: -301px;

    margin-top: 125px;

    margin-left: auto;
    margin-right: auto;
    width: 1364px;
    height: 1012px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF;
    border-radius: 32px;
    opacity: 1;
    z-index: 10;
}

.important-infos-2{
    position: relative;
    top: -301px;

    margin-top: 125px;

    margin-left: auto;
    margin-right: auto;
    width: 1364px;
    height: 1012px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF;
    border-radius: 32px;
    opacity: 1;
    display: none;
    z-index: 10;
}

.category-1{
    position: relative;
    width: 347px;
    height: 126px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 31px;
    opacity: 1;
    top: 79px;
    left: 278px;
    cursor: pointer;
    margin-bottom: 68px;
    z-index: 5;
}

.category-1 h1{
    font-family: SFPro, Sans-serif;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    color: #1F4F99;
    opacity: 1;
    top: 20px;
    position: inherit;
}

.category-2{
    position: relative;
    width: 153px;
    height: 128px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 31px;
    opacity: 1;
    top: -115px;
    left: 636px;
    cursor: pointer;
    margin-bottom: 68px;
    box-shadow: inset 0px -80px 45px -33px rgba(0,0,0,0.75);
    z-index: 5;
}

.category-2 h1{
    font-family: SFPro, Sans-serif;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    color: #1F4F99;
    opacity: 1;
    top: 20px;
    position: inherit;
}

@keyframes hoverIn {
    
    0%{
        transform: scale(1);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    100%{
        transform: scale(1.05);
        transition: 0.3s;
        -webkit-box-shadow: 6px -1px 17px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 6px -1px 17px 0px rgba(0,0,0,0.75);
        box-shadow: 6px -1px 17px 0px rgba(0,0,0,0.75);
    }

}

@keyframes hoverOut {
    
    0%{
        transform: scale(1.05);
        transition: 0.3s;
        -webkit-box-shadow: 6px -1px 17px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 6px -1px 17px 0px rgba(0,0,0,0.75);
        box-shadow: 6px -1px 17px 0px rgba(0,0,0,0.75);
    }

    100%{
        transform: scale(1);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

}

.block-1{
    position: inherit;
    width: 346px;
    height: 311px;
    border: 2px solid #2D62AB;
    border-radius: 35px;
    opacity: 1;
    left: 96px;
    top: -294px;
    animation: hoverOut 1s;
    animation-fill-mode: forwards;
    margin-top: 378px;
}

.block-1:hover{
    animation: hoverIn 1s;
    cursor: pointer;
    animation-fill-mode: forwards;
}

.block-1 img{
    position: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 44%;
    top: 29px;
}

.block-1 p{
    font-family: SFProRegular, Sans-serif;
    text-align: center;
    letter-spacing: -1px;
    color: #1F4F99;
    top: 53px;
    position: inherit;
    font-size: 23px;
    font-weight: 700;
}

.block-2{
    position: inherit;
    width: 346px;
    height: 311px;
    border: 2px solid #2D62AB;
    border-radius: 35px;
    opacity: 1;
    left: 490px;
    top: -605px;
    animation: hoverOut 1s;
    animation-fill-mode: forwards;
}

.block-2:hover{
    animation: hoverIn 1s;
    cursor: pointer;
    animation-fill-mode: forwards;
}

.block-2 img{
    position: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 44%;
    top: 29px;
}

.block-2 p{
    font-family: SFProRegular, Sans-serif;
    text-align: center;
    letter-spacing: -1px;
    color: #1F4F99;
    top: 53px;
    position: inherit;
    font-size: 23px;
    font-weight: 700;
}

.block-3{
    position: inherit;
    width: 346px;
    height: 311px;
    border: 2px solid #2D62AB;
    border-radius: 35px;
    opacity: 1;
    left: 884px;
    top: -918px;
    animation: hoverOut 1s;
    animation-fill-mode: forwards;
}

.block-3:hover{
    animation: hoverIn 1s;
    cursor: pointer;
    animation-fill-mode: forwards;
}

.block-3 img{
    position: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 44%;
    top: 29px;
}

.block-3 p{
    font-family: SFProRegular, Sans-serif;
    text-align: center;
    letter-spacing: -1px;
    color: #1F4F99;
    top: 53px;
    position: inherit;
    font-size: 23px;
    font-weight: 700;
}

.block-4{
    position: inherit;
    width: 346px;
    height: 311px;
    border: 2px solid #2D62AB;
    border-radius: 35px;
    opacity: 1;
    left: 96px;
    top: -855px;
    animation: hoverOut 1s;
    animation-fill-mode: forwards;
}

.block-4:hover{
    animation: hoverIn 1s;
    cursor: pointer;
    animation-fill-mode: forwards;
}

.block-4 img{
    position: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 44%;
    top: 29px;
}

.block-4 p{
    font-family: SFProRegular, Sans-serif;
    text-align: center;
    letter-spacing: -1px;
    color: #1F4F99;
    top: 53px;
    position: inherit;
    font-size: 23px;
    font-weight: 700;
}

.block-5{
    position: inherit;
    width: 346px;
    height: 311px;
    border: 2px solid #2D62AB;
    border-radius: 35px;
    opacity: 1;
    left: 96px;
    top: -1165px;
    left: 490px;
    animation: hoverOut 1s;
    animation-fill-mode: forwards;
}

.block-5:hover{
    animation: hoverIn 1s;
    cursor: pointer;
    animation-fill-mode: forwards;
}

.block-5 img{
    position: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 44%;
    top: 29px;
}

.block-5 p{
    font-family: SFProRegular, Sans-serif;
    text-align: center;
    letter-spacing: -1px;
    color: #1F4F99;
    top: 53px;
    position: inherit;
    font-size: 23px;
    font-weight: 700;
}

.block-6{
    position: inherit;
    width: 346px;
    height: 311px;
    border: 2px solid #2D62AB;
    border-radius: 35px;
    opacity: 1;
    left: 884px;
    top: -1476px;
    animation: hoverOut 1s;
    animation-fill-mode: forwards;
}

.block-6:hover{
    animation: hoverIn 1s;
    cursor: pointer;
    animation-fill-mode: forwards;
}

.block-6 img{
    position: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 44%;
    top: 29px;
}

.block-6 p{
    font-family: SFProRegular, Sans-serif;
    text-align: center;
    letter-spacing: -1px;
    color: #1F4F99;
    top: 53px;
    position: inherit;
    font-size: 23px;
    font-weight: 700;
}

.block-5-2{
    position: inherit;
    width: 346px;
    height: 311px;
    border: 2px solid #2D62AB;
    border-radius: 35px;
    opacity: 1;
    top: -865px;
    left: 294px;
    animation: hoverOut 1s;
    animation-fill-mode: forwards;
    margin-bottom: 318px;
}

.block-5-2:hover{
    animation: hoverIn 1s;
    cursor: pointer;
    animation-fill-mode: forwards;
}

.block-5-2 img{
    position: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 44%;
    top: 29px;
}

.block-5-2 p{
    font-family: SFProRegular, Sans-serif;
    text-align: center;
    letter-spacing: -1px;
    color: #1F4F99;
    top: 53px;
    position: inherit;
    font-size: 23px;
    font-weight: 700;
}

.block-6-2{
    position: inherit;
    width: 346px;
    height: 311px;
    border: 2px solid #2D62AB;
    border-radius: 35px;
    opacity: 1;
    left: 688px;
    top: -1494px;
    animation: hoverOut 1s;
    animation-fill-mode: forwards;
}

.block-6-2:hover{
    animation: hoverIn 1s;
    cursor: pointer;
    animation-fill-mode: forwards;
}

.block-6-2 img{
    position: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 44%;
    top: 29px;
}

.block-6-2 p{
    font-family: SFProRegular, Sans-serif;
    text-align: center;
    letter-spacing: -1px;
    color: #1F4F99;
    top: 53px;
    position: inherit;
    font-size: 23px;
    font-weight: 700;
}

.important-infos-1 p{
    font-family: SFProRegular, Sans-serif;
    text-align: center;
    letter-spacing: -1px;
    color: #1F4F99;
}

.important-infos-2 p{
    font-family: SFProRegular, Sans-serif;
    text-align: center;
    letter-spacing: -1px;
    color: #1F4F99;
    display: non;
}

.know-more{
    position: inherit;
    margin-left: auto;
    margin-right: auto;
    width: 540px;
    height: 58px;
    /* UI Properties */
    border: 1px solid #1F4F99;
    border-radius: 29px;
    opacity: 1;
    top: -1403px;
    cursor: pointer;
}

.footer{
    background: #193463;
    width: 100%;
    height: 442px;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.services{
    position: inherit;
}

.services h1{
    position: inherit;
    left: 200px;
    top: 75px;

    text-align: left;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 28px;
    
    font-weight: bold;
    letter-spacing: -1px;

    color: #F2F2F2;
    opacity: 1;
}

.services p{
    position: inherit;
    
    left: 200px;
    top: 121px;
    width: 265px;


    text-align: left;
    line-height: 38px;

    font-family: SFProRegular, Sans-serif;
    font-style: normal;
    font-size: 23px;
    
    letter-spacing: -1px;

    color: #F2F2F2;
    opacity: 1;
}

.services-1{
    position: inherit;
    left: 403px;
}

.services-1 h1{
    position: inherit;
    left: 200px;
    top: 75px;

    text-align: left;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 28px;
    
    font-weight: bold;
    letter-spacing: -1px;

    color: #F2F2F2;
    opacity: 1;
}

.services-1 p{
    position: inherit;
    
    left: 200px;
    top: 121px;
    width: 265px;


    text-align: left;
    line-height: 38px;

    font-family: SFProRegular, Sans-serif;
    font-style: normal;
    font-size: 23px;
    
    letter-spacing: -1px;

    color: #F2F2F2;
    opacity: 1;
}

.services-2{
    position: inherit;
    left: 803px;
}

.services-2 h1{
    position: inherit;
    left: 200px;
    top: 75px;

    text-align: left;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 28px;
    
    font-weight: bold;
    letter-spacing: -1px;

    color: #F2F2F2;
    opacity: 1;
}

.services-2 p{
    position: inherit;
    
    left: 200px;
    top: 121px;
    width: 265px;


    text-align: left;
    line-height: 38px;

    font-family: SFProRegular, Sans-serif;
    font-style: normal;
    font-size: 23px;
    
    letter-spacing: -1px;

    color: #F2F2F2;
    opacity: 1;
}

.discord{
    position: relative;
    top: 0px;
    height: 771px;
    left: 0px;
    width: 1920px;
}

.discord img{
    position: inherit;
    width: 1900px;
    height: 770px;


    opacity: 1;
}


.discord h1{
    top: -513px;
    left: 220px;
    position: inherit;
    width: 484px;


    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 63px;

    text-align: left;
    letter-spacing: -1px;

    color: #F2F2F2;
    opacity: 1;
}

.join-server{
    position: inherit;
    top: -469px;
    left: 220px;

    width: 314px;
    height: 60px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 41px;

    cursor: pointer;
}

.join-server a{
    position: inherit;
    text-decoration: none;
}

.join-server a p{
    position: inherit;
    top: 18px;
    left: 32px;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: bold;

    text-align: left;
    letter-spacing: 0px;

    color: #3358A7;
    opacity: 1;
}

.join-server img{
    top: -3px;
    left: 264px;

    width: 16px;
    height: 15px;
}

#hr-2{
    position: relative;
    top: 0px;

    width: 1920px;
    height: 30px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 11px 52px #00000029;
    opacity: 1;
}

.questions{
    text-align: center;
    position: relative;
    top: 200px;
    left: 280px;

    width: 1295px;
    height: 1257px;
}

.questions h1{
    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 60px;
    font-weight: bold;

    letter-spacing: -2px;
    line-height: 64px;

    color: #F2F2F2;
    opacity: 1;
}

.questions p{
    position: inherit;
    top: 10px;

    font-family: SFProRegular, Sans-serif;
    font-style: normal;
    font-size: 20px;

    letter-spacing: -1px;
    line-height: 64px;

    color: #F2F2F2;
    opacity: 1;
}

.questions-2{
    position: inherit;
    top: 60px;

    width: 1295px;
    height: 971px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 33px 33px 0px 0px;
    opacity: 1;
}

.questions-2 h3{
    position: inherit;
    left: 96px;
    top: 65px;
    text-align: left;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 26px;

    letter-spacing: -1px;
    font-weight: bold;

    color: #262624;
    opacity: 1;
    padding-bottom: 120px;
}

#h3-especial{
    position: inherit;
    left: 96px;
    top: 65px;
    text-align: left;

    font-family: SFPro, Sans-serif;
    font-style: normal;
    font-size: 26px;

    letter-spacing: -1px;
    font-weight: bold;

    color: #262624;
    opacity: 1;
}

.questions-2 p{
    position: absolute;
    left: 96px;
    text-align: left;
    top: 110px;


    line-height: 26px;
    font-family: SFProRegular, Sans-serif;
    font-style: normal;
    font-size: 15px;

    letter-spacing: -1px;

    color: #262624;
    opacity: 1;
    
}

.questions-2 hr{
    position: inherit;
    left: 89px;
    top: 51px;

    width: 1088px;
    height: 0px;
    /* UI Properties */
    border: 2px solid #C7C7C7;
    opacity: 1;
}

#hr-1{
    position: relative;
    top: 148px;
    height: 30px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 11px 52px #00000029;
    opacity: 1;

    z-index: 1000;
}

.footer img{
    position: inherit;
    top: 82px;
    left: 1617px;
    z-index: 1000;
    
}

.footer-2{
    background: #2F4678;
    width: 100%;
    height: 95px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-2 img{
    position: inherit;
    left: 203px;
    top: 31px;
}

.footer-2 p{
    position: inherit;
    left: 280px;
    top: 39px;

    text-align: left;

    font-family: SFProRegular, Sans-serif;
    font-style: normal;
    font-size: 22px;
    
    letter-spacing: -1px;

    color: #F2F2F2;
    opacity: 1;
}